[2015-12-24 13:02] MisterMartin opened #75 "Common requests at AGU"
There seemed to be a few common questions/requests when talking to the public at the AGU. These seem like good ideas:
- Add customization to the time series plotting: multiple traces, time scroll back.
- Add alerts: email, text? when instruments stop and start reporting. (Issue #23)
- Need simple permanent archiving feature for the users. There could be many approaches to this.
- Can it be run on

[2015-12-28 21:47] MisterMartin opened #76 "Allow instrument identifiers to be specified"
A user may need to reuse an instrument ID. This could happen if the instrument was accidentally deleted, or they wanted to start fresh on configuring an instrument. There needs to be functionality that allows them to specify the id, so that it can remain compatible with their field software.

[2015-12-31 22:29] MisterMartin opened #77 "default admin account"
Suggested by Erik Johnson: have the cloudformation template prompt for the default Rails admin account and password, and substitute them in seeds.db.

[2016-01-18 23:51] MisterMartin opened #78 "Delete test data needs user privilege checking"
Right now it is wide open.

[2016-01-20 00:00] mdye opened #79 "Add units to "Elevation" field in management of sites."

[2016-01-22 18:05] MisterMartin opened #80 "Add warning time for instruments"
Right now, the instrument measurement interval is used to for the simulation interval and to determine when to flag the instrument as not reporting (status dot goes red). There can be reporting lags which cause the instrument to be flagged as not active. These functions should be separated.

Add an "instrument not reporting" time span to the instrument model, and use it for the indicator.

[2016-01-22 18:06] MisterMartin opened #81 "Add units to the instrument graph Y axis"

[2016-01-22 19:13] MisterMartin commented on #81
Units were added to the instrument graphs.

[2016-01-22 19:13] #81 closed, assigned to nobody

[2016-01-22 22:43] janineA opened #82 "Make calendar to download data more intuitive"
Hi Mike and Charlie,
I was playing with the ORCAS data portal (http://orcas.chordsrt.com/data) and was very confused about what data were available. I (dumbly) thought that there was only data for the 22nd (today), since it was shaded. Once I figured it out (after asking Daniels), it occurred to me that the calendar to select dates is not very intuitive. When I buy a ticket, dates that are not ava

[2016-01-22 23:40] MisterMartin commented on #82
Thanks for taking a look at it! Yeah, the data navigation is still kind of rudimentary. Those are good ideas about download selection. At some point we will re-engineer that (and many other parts of CHORDS), and we'll keep your suggestions in mind.

Also you may have noticed that responsiveness on the Orcas portal is somewhat slow. A big part of that is because I only configured a single instrumen

[2016-01-22 23:46] mdye commented on #82
Thank you for your feedback Janine!  Great idea on graying out dates that don't have data.

[2016-01-31 16:32] MisterMartin opened #83 "Data Trim Selection"
Add capability to select the instrument for which measurements will be trimmed.

[2016-01-31 16:32] MisterMartin commented on #83
Added in effa166.

[2016-01-31 16:32] #83 closed, assigned to nobody

[2016-01-31 16:34] MisterMartin commented on #78
Completed.

[2016-01-31 16:34] #78 closed, assigned to nobody

[2016-02-08 22:42] mdye opened #84 "Add instrument selection to "trim" function"

[2016-02-09 00:11] MisterMartin commented on #84
I implemented this, as described in https://github.com/NCAR/chords_portal/issues/83, and pushed out to all of the portals. Perhaps there is something else that is being proposed here?

[2016-02-09 00:12] mdye commented on #84
Sorry for the duplicate!

[2016-02-09 00:12] #84 closed, assigned to nobody

[2016-02-09 00:14] MisterMartin commented on #84
No worries! Sometimes I think that closed issues should be displayed all
the time for just this reason!

Charlie

On Mon, Feb 8, 2016 at 5:12 PM, Mike Dye notifications@github.com wrote:

[2016-04-04 17:51] MisterMartin opened #85 "Add parameter selector to data download page"
A good request from Paul Kucera: "Would it be possible to add the capability to download only one parameter (e.g., temperature) from a site?"

[2016-04-20 16:34] mdye opened #86 "Plot data before downloading"
A feature request from Renzo Bechini at ARPA (renzo.bechini@arpa.piemonte.it):

"I would find very useful is the possibility to make plots for past events like for the current data, e.g. when you select a period in the data section for export it may be useful to plot the variable for the period selected before downloading the data. A sort graphical access to the historical data.. that would be ver

[2016-04-21 22:51] mdye opened #87 "Enable log rotation/deletionon existing portal instances"
logs in /home/ec2-user/chords_testbed/log eventually fill up the existing mounted volume and cause a portal to become unresponsive. This should be fixed

[2016-04-21 23:12] MisterMartin commented on #87
Mostly an artifact of running in development mode, right? I've tried to get production mode working, but ran into mysterious roadblocks. We should get production mode working though.

[2016-04-21 23:31] mdye commented on #87
production mode generated fewer log entries, but would eventually fill up the drive. The micro instances only have 7G for everything. This is plenty, except when the logs bloat to 4G. :)

[2016-04-22 01:24] MisterMartin commented on #87
Did you get production mode working?

On Thursday, April 21, 2016, Mike Dye notifications@github.com wrote:

[2016-04-22 19:03] mdye commented on #87
Production mode is not working on the deployed instances yet, although ironically I have got it working on by dev machine.

[2016-06-08 21:18] erikj commented on #87
In the Field Catalog, we're using:

[code]

https://github.com/ncareol/catalog_ui/blob/develop/config/environments/production.rb#L27

which uses Ruby's `Logger` class to shift logs after a prescribed size and only hang on to the prescribed number. Applying that to the appropriate environment file should do the trick for this issue.

http://ruby-doc.org/stdlib-2.3.0/libdoc/logger/rdoc/Logger.html#m

[2016-06-13 17:10] mdye opened #88 "Highcharts license"
Given that highcharts is not free for commercial use, we should consider the use case where a for-profit or business sets up a CHORDS portal. Without paying, that business would then technically be in violation of the [highcharts](http://www.highcharts.com/products/highcharts) TOS.

Possible solutions:
- Replace highcharts with a different graphing library
- Update CHORDS documentation to make use

[2016-06-13 17:17] mdye opened #89 "API for creation of sites/instruments"
- [ ] Explore code and determine number of models
- [ ] Investigate various JSON API standards (JSON-API, HAL, etc)
- [ ] Add test endpoints to try different standards
- [ ] Investigate consumer/producer libraries for Python/Ruby/etc
- [ ] Add code to receive a submission of JSON serialization for each model
- [ ] Merge code into development branch
- [ ] Test
- [ ] Merge code into production branc

[2016-06-13 17:20] mdye commented on #76
Matt Bartos (from Branko's team) requested this feature as well, as it would help to make the workflow in setting up a large number of instruments more straight-forward and allow for more flexibility.

[2016-06-13 19:04] keiserk commented on #89
Has the generation of SensorML definitions for the sensors ever been implemented?  Might be something to consider as tools for creating instruments are added.  Would go a long way towards demonstration interoperability with other EC processes, catalogs, etc.

[2016-06-13 20:46] mdye commented on #89
Hi Ken,

Yes, a SensorML description of each sensor is available for portal
instruments/sensors. For example, the T6 instrument
http://storm.chordsrt.com/instruments/11 is described by this SensorML
http://storm.chordsrt.com/instruments/11.sensorml.

On Mon, Jun 13, 2016 at 1:04 PM, keiserk notifications@github.com wrote:

[2016-06-13 20:56] keiserk commented on #89
Great - this is a good start.  Looks to be some things missing (e.g.
location), but definitely headed the right direction.  We'll look at it
more closely.

Ken

On Mon, Jun 13, 2016 at 3:46 PM, Mike Dye notifications@github.com wrote:

[2016-06-13 21:02] mdye commented on #89
Location is included towards the bottom on the XML. Let me know if there is
a better way to express the location!

On Mon, Jun 13, 2016 at 2:56 PM, keiserk notifications@github.com wrote:

[2016-06-14 12:09] keiserk commented on #89
Right saw the field, but its not populated - unless that sensor is in the
Atlantic at the equator. :-)

On Mon, Jun 13, 2016 at 4:02 PM, Mike Dye notifications@github.com wrote:

[2016-06-14 16:14] mdye commented on #89
Ha! Submarines could be a good CHORDS use case.  :-)

It looks like the lat/lon was not configured for the site
http://storm.chordsrt.com/sites at which that instrument is located.  In
retrospect, this was a poor example to provide.  Here's a better one
http://storm.chordsrt.com/instruments/1.sensorml.

On Tue, Jun 14, 2016 at 6:09 AM, keiserk notifications@github.com wrote:

[2016-06-14 18:04] keiserk commented on #89
Yes agree that this one looks much better.  Nice example that we can work
with.

thanks

On Tue, Jun 14, 2016 at 11:14 AM, Mike Dye notifications@github.com wrote:

[2016-06-14 18:05] mdye commented on #89
Great!  Let me know if you find other things that need modification.

On Tue, Jun 14, 2016 at 12:04 PM, keiserk notifications@github.com wrote:

[2016-07-01 21:03] mdye opened #90 "Highcharts breaks sensible scrolling behavior on mobile devices"
On mobile devices scrolling up and down on a page is interfered with when an embedded highchart plot is encountered.

Issue description: http://stackoverflow.com/questions/12156245/scrolling-over-highcharts-graph

[2016-09-02 16:15] MisterMartin opened #91 "Refactor the source revision display scheme"
The source revision (git sha) that is displayed on the /about page is obtained from git. This requires that the .git repository be distributed so that rails can run git and extract the sha. This was okay in the day when cloudformation was checking out the repository.

With the pending migration to Docker deployment, we don't really need to package the whole repository with the image.

Possible sol

[2016-09-25 22:01] MisterMartin opened #92 "Simulator button images broken in production mode"
In production mode, the page code is scanned, and  images are precompiled for the asset pipeline. This doesn't quite work for the on/off buttons in instruments/simulator.html.haml. The on button is detected correctly from:

[code]

However, when the button is clicked, the JavaScript code changes the image via:

[code]

It seems that the reference to this image is fouled up, leading to a bad image

[2016-09-30 22:53] ryangooch opened #93 "Reset Password Broken"
I had an email conversation about this with Charlie and Mike, but figured it would be best documented here. When attempting to change permissions on a docker AWS chords portal, an error page is generated. It appears that the problem s with the ruby email server differences between

'chords_portal/config/environments/development.rb' and 'production.rb'. One thing in particular was that in the devel

[2016-10-01 05:08] MisterMartin commented on #93
I fixed production.db, and also added sendmail to the Dockerfile package installs. However, a reset password request still respondes with an error message in the browser. Production.log indicates \ that the email was sent. The problem now seems to be that the Devise response page is not being sent.

This is what shows up in production.log:

[code]

[2016-10-11 17:46] mdye opened #94 "Replace UC San Diego Logo with Virginia Tech Logo"
![virginia_tech_logo](https://cloud.githubusercontent.com/assets/270551/19281628/5ae8be88-8fa8-11e6-8a78-f2f1e93c96b8.jpg)

[2016-10-12 03:43] MisterMartin commented on #94
At the same time, let's make all of the logos more consistent. The aspect ratios and sizes need to be coordinated.

[2016-10-13 21:49] mdye opened #95 "Upload image / images to chords portal"
Paul requests the ability to upload a site photo:

"Is there a way that we could upload a site photo to the CHORDS site in the future?  It would make for great additional information to be included with each site."

[2016-10-13 21:56] mdye opened #96 "Modify "latest" feed to include the latest version of ALL measured values"
Currently the "latest" feature outputs the last measurements based on the most recently submitted value.  If other measured parameters for that instrument do not have the exact same timestamp, the values for those parameters will be NULL.  This behavior is not optimal for Paul:

"I was wondering if there was a temporary solution on the web display to not write over the previous observation for an

[2016-10-13 22:01] mdye opened #97 "Implement GeoWS"
Resource: GeoWS webinar:

https://www.youtube.com/watch?v=JDafWWV0I0U&feature=youtu.be

[2016-10-13 22:13] mdye commented on #97
GeoWS site: https://www.earthcube.org/group/geows-geoscience-web-services

[2016-10-13 23:55] MisterMartin commented on #95
I have always thought it would be great to have a modest "User Area" where photos could be uploaded, and a page for viewing them.

Or perhaps there is a blogging gem that could provide rudimentary blogging, with attached photos? I've seen these suggested; there are probably others:
- https://github.com/jipiboily/monologue
- https://github.com/mixandgo/simple_blog

[2016-10-14 17:59] MisterMartin commented on #96
I think an additional request could be devised for this functionality.

I will point out that I put together a python script (paws_to_chords.py) for Paul, which consolidates measurements on his system and submits them on a fixed interval, matching his sample rate, so that all measurements share the same timestamp within that interval. He had planned to migrate to this script, but apparently has no

[2016-10-21 00:45] MisterMartin commented on #87
I got production mode working for the docker branch, which will be merged into master very soon.

We have been using Logger for quite awhile now, and it seems to be working fine. Closing issue.

[2016-10-21 00:46] #87 closed, assigned to nobody

[2016-10-21 00:54] MisterMartin commented on #92
Note that this is with the docker branch, which is the only place where production mode is operating right now.

[2016-10-21 03:33] erikj commented on #92
@MisterMartin The solution that I've used for this problem is to use ERB to generate asset-path variables in JavaScript, _e.g._

So you could have `app/assets/javascripts/asset_paths.js.erb`:

[code]

...which uses a `chords` global variable for namespacing.

Then include the file before you call the JavaScript, either via via `javascript_include_tag` or in your JS manifest:

[code]

Then use that

[2016-10-21 18:58] MisterMartin commented on #92
Excellent guidance. Fixed in docker:55c947a.

[2016-10-21 18:58] #92 closed, assigned to nobody

[2016-10-24 16:39] MisterMartin opened #98 "Grafana"
http://docs.grafana.org/ may be a solution for a user customizable visualization interface.

Recommended by Branko Kerkez.

[2016-10-24 17:29] MisterMartin opened #99 "Influxdb"
Branko suggested looking at influxdb, a high performance time series database. Could CHORDS make use of this for time series storage?

It's possible that multiple storage technologies could be used to manage different classes of data structures.

[influxer](https://github.com/palkan/influxer) provides an activerecord interface to influxdb.

[influxdb-ruby](https://github.com/influxdata/influxdb-ru

[2016-10-27 21:44] mdye opened #100 ""Website under heavy load" on tzvolcano"
From Sarah Stamps:

"It appears I may have overloaded tzvolcano.chordsrt.org (see screenshot attached). I now have 2 GNSS/GPS sites streaming near real-time data that I automated to input into CHORDS. We still have some minor power issues, but the radios are fixed so data streams during the day.

I think the way around this overload issue is finding a way to pull the data from tzvolcano.chordsrt.o

[2016-10-27 22:11] MisterMartin commented on #100
Sounds like a compelling reason to get the high performance time series
database in place. I'm working on that right now.

[2016-10-28 19:38] ryangooch opened #101 "Improve CHORDS portal outreach with website?"
One of the things that was discussed at the kick-off meeting was how to continue getting research teams to discover CHORDS and how it can help them visualize real time data. I think the first thing anyone does when trying to discover anything is to simply Google it. I'm not sure what query anyone would use, but perhaps if we are able to better optimize the website for search engine discovery, we m

[2016-12-03 01:55] mdbartos commented on #99
Hey all,

For reference, here are the commands that we used to set up influxdb on a fresh amazon EC2 instance.

I chose to store data on a separate amazon EBS. This offers a number of advantages (e.g. more storage space, data doesn't get deleted if the instance is terminated, data can be "reattached" to a new EC2 instance, etc.).

The following commands are known to work with influxdb version 1.0.

[2016-12-21 23:08] MisterMartin commented on #94
VTech logo replaced UCSD.

[2016-12-21 23:08] #94 closed, assigned to nobody

[2017-01-04 22:12] mdye opened #102 "Fix CHORDS Earthcube landing page"
The CHORDs EarthCube site is responding with a 404:
http://earthcube.org/chords

![screen shot 2017-01-04 at 3 11 03 pm](https://cloud.githubusercontent.com/assets/270551/21661182/175d28ea-d290-11e6-9b1b-40047e1b0fe1.png)

[2017-01-04 22:14] mdye opened #103 "Change URL redirect for chordsrt.com"
Now that the github repository has been moves to NCAR/chords from NCAR/chords_portal, the domain name redirection needs to be fixed:

http://ncar.github.io/chords_portal/

[2017-01-04 23:20] erikj opened #104 "asset paths broken in GH pages"
assets are broken, paths should probably be relative, not absolute, to avoid problems like that.

http://ncar.github.io/chords/

[code]

relative path:

[code]

[2017-01-05 00:09] MisterMartin commented on #104
This is set by the jekyll site.baseurl configuration parameter, being prepended to the relative paths. Reassigning that as "chords" that fixed all of the assets problems.

This seems to be a standard jekyll construct. I'm not sure if we can just forego using site.baseurl entirely; but I'm going to mark this as closed since it is so easy to deal with. Please feel free to repoen the issue if anyone

[2017-01-05 00:09] #104 closed, assigned to nobody

[2017-01-09 20:52] mdye opened #105 "Review AWS "Tips for Securing EC2" instance for ways to potentially improve portal security"
https://aws.amazon.com/articles/1233/

[2017-01-09 20:54] mdye opened #106 "Remove merged github branches"
Remove stale branches that have already been merged in to master

https://github.com/NCAR/chords/branches/stale

[2017-01-09 20:56] mdye opened #107 "Create github labels and assign to existing issues"
List of potential labels:

**Type of issue**
bug
documentation
enhancement
feature
fix
QA
question
reports
security

**Issue Category**
user interface
Database
Configuration
Ops
mobile
Theming

**Priority**
HIGH PRIORITY
wontfix

**Issue State**
CHECKED OUT

[2017-01-09 22:24] erikj commented on #107
some projects prefix the heading to the label, e.g. [Docker](https://github.com/docker/docker/labels):

- `area/builder`
- `area/bundles`
- `kind/enhancement`
- `kind/question`
- `version/1.12`
- _etc._

(Though personally I prefer a semicolon delimiter)

[2017-01-09 22:27] erikj commented on #106
If you're documenting a recommended workflow, I'd append branch removal to after `merge` to `master`:

[code]

http://gitready.com/beginner/2009/02/02/push-and-delete-branches.html

[2017-01-10 22:30] mdye commented on #106
Excellent advice - done!

[2017-01-11 22:11] dsarahstamps opened #108 "error when deleting files"
I was deleting some files from a site and received an error. Attached is the message.

![issue_chords](https://cloud.githubusercontent.com/assets/7606096/21868468/d4c09a76-d820-11e6-96d9-82ca4aec0aba.JPG)

[2017-01-12 18:02] dsarahstamps commented on #108
It's ok to delete files from OLOT up to January 5.

[2017-01-12 18:05] mdye commented on #108
Great - thank you!

[2017-01-12 18:32] MisterMartin commented on #108
I'm pretty sure that this is due to having a large number of observations
for a single day in the mysql database. I suspect you will see a similar
problem for data downloads. The influxdb development should alleviate this.
In the meantime, Mike should be able to log in and manually remove data
from the mysql.

On Wed, Jan 11, 2017 at 3:11 PM, dsarahstamps <notifications@github.com>
wrote:

[2017-01-12 21:02] mdye opened #109 "Test Docker CHORDS instance on Windows 10"
Get  a CHORD instance of Docker up and running on Window 10

[2017-01-12 21:04] mdye opened #110 "Update documentation to reflect accurate walkthoughs of getting CHORDS up and running"
Documentation for getting CHORDS up and running on  Windows 10 and OSX systems need to be updated.

[2017-01-12 21:10] #103 closed, assigned to mdye

[2017-01-12 21:12] mdye commented on #107
Labels have been created, and I'm working on adding them to the existing issues.

Note that I replaced the "enhancement" label with "feature". Erik pointed out that these labels have essentially the same meaning.

[2017-01-13 13:28] dsarahstamps commented on #108
Thank you for this update. We can continue to delete files from Virginia Tech, and look forward to the influxdb development. From my perspective this issue is closed.

[2017-01-18 17:07] intRobyn commented on #109
CHORDS is up and running on Windows 10

[2017-01-18 17:07] #109 closed, assigned to intRobyn

[2017-01-18 20:42] mdye opened #111 "View older data"
Add ability to customize time window viewable in plots

[2017-01-18 21:25] mdye opened #112 "Improve Ontology for selection of Measured Properties"

[2017-01-18 21:25] mdye opened #113 "Dashboard builder"

[2017-01-18 21:27] mdye opened #114 "FTP access for data download"

[2017-01-18 21:28] mdye opened #115 "Add ability for portal to send notifications"
via sms and email

event: measurement exceeds threshold
event: measurement for a single sensor (observed property) wasn't submitted when expected

[2017-01-18 21:30] mdye opened #116 "API feature: get list of gaps in data"

[2017-01-18 21:30] mdye opened #117 "Contact Travis Andersen to connect GLOBE data to CHORDS"

[2017-01-18 21:31] mdye opened #118 "Standardized Service (plug in type architecture) to push data out of CHORDS"

[2017-01-18 21:31] mdye opened #119 "Add ability for a user to add to the measurable properties ontology/vocabulary"

[2017-01-18 23:17] mdye commented on #110
Google Doc: https://docs.google.com/document/d/1lgkLzGJfFkBWukTSsaH6UD3kccnG4eEVLvEDl55pClQ/edit?ts=587ff49f

[2017-01-20 21:45] mdye opened #120 "Look in to Kapacitor, part of the TICK stack"
[Tick Stack](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwjz5PnT2NHRAhUBRWMKHZLdDIwQFggfMAE&url=https%3A%2F%2Fwww.influxdata.com%2Ftime-series-platform%2F&usg=AFQjCNGGFrxOk33u1RoFu2GmzmENgECPzw&bvm=bv.144224172,d.amc)

[Kapacitor](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0ahUKEwjz5PnT2NHRAhUBRWMKHZLdDIwQFggpMAI&

[2017-01-20 22:02] mdye opened #121 "Support different sampling frequencies for separate sensors"

[2017-01-20 22:03] mdye opened #122 "Allow direct access to the influxdb"

[2017-01-20 22:04] mdye opened #123 "Support Instrument configuration metadata in CHORDS"
This metadata would contain information about the configuration of each instrument/sensor/node

[2017-01-23 05:42] MisterMartin commented on #122
Added to the influxdb branch. A Grafana server was also added.

[2017-01-23 05:42] #122 closed, assigned to MisterMartin

[2017-01-23 05:48] MisterMartin commented on #113
Grafana (added to CHORDS recently) allows feature-rich dashboards to be created. However, I think there is still a need for basic (but configurable) graphical monitoring to be available directly within the portal. This should be simpler to configure, but less powerful than Grafana. It would be useful to users who don't want to learn yet another application like Grafana.

[2017-01-23 18:02] mdye commented on #121
More robust sensor error reporting. (ability to detect when a single sensor goes out of range or stops transmitting)

[2017-01-23 18:34] mdye opened #124 "Fix email verification"

[2017-01-24 14:16] MisterMartin opened #125 "Correct CloudFormation template for git branch selection"
The CF template currently provides for selection between the mysql and influxdb branches. These should be changed to master, development, and user specified choices.

[2017-01-24 14:23] MisterMartin opened #126 "Convert CloudFormation template to YAML"
Yaml was recently introduced by AWS as a configuration language for CF templates. It's a vast improvement over JSON.

[2017-01-24 14:27] MisterMartin commented on #99
Influxdb is now included as a service in the chords docker-compose configuration. It is running the official docker hub influxdb image, without modification.

[2017-01-24 14:27] #99 closed, assigned to MisterMartin

[2017-01-24 20:29] MisterMartin opened #127 "Dashboard broken on empty influxdb"
A page error occurs if the dashboard is opened before after sites and instruments have been defined, but no data is in the database. This is almost certainly caused by testing for a nill ruby array, rather than checking for a length of zero, after querying for the number of samples for a given instrument.

A work around is to first open the simulator, and run it long enough to put at least one sam

[2017-01-24 22:40] MisterMartin commented on #125
For now, the choices will be master and development. We will adopt the convention that CHORDS docker images will be tagged with the branch that they were build under; thusly:
ncareol/chords:master
ncareol/chords:development

So don't forget to properly tag your build and push, e.g.:
[code]

Also, docker-compose.yml will be modified to use the environment variable _DOCKER_TAG_
to select the correct

[2017-01-24 23:09] MisterMartin opened #128 "Correct dashboard database size display"
This was broken when we switched to influxdb. There are some database admin type queries that may allow this to be determined directly.

[2017-01-25 06:43] MisterMartin commented on #126
Completed in caeea4213673f463f1583bfc093a30fab995f1a2

[2017-01-25 06:43] #126 closed, assigned to MisterMartin

[2017-01-25 06:43] MisterMartin commented on #125
Completed in caeea4213673f463f1583bfc093a30fab995f1a2.

[2017-01-25 06:43] #125 closed, assigned to MisterMartin

[2017-01-25 06:48] MisterMartin opened #129 "AWS: Install docker-compose in /bin instead of /usr/local/bin"
So that it is in root's path.

[2017-01-25 06:49] MisterMartin commented on #129
Done in caeea4213673f463f1583bfc093a30fab995f1a2.

[2017-01-25 06:49] #129 closed, assigned to MisterMartin

[2017-01-25 15:00] MisterMartin opened #130 "Preconfigure Grafana"
Any of the grafana.ini fields can be preconfigured by [setting them in environment variables](https://hub.docker.com/r/grafana/grafana/) prior to launching the container. This may be a useful addition to the startup procedures.

[2017-01-25 17:13] MisterMartin opened #131 "Create portal management script"
This script will provide a simple command line interface for administering a chords portal. Instead of pulling the docker-compose.yml and running a bunch of docker commands, it will manage this for you. Initially it will provide:

* configure: set environment variables in .env
  * Manage the .env file

* update: Install or update chords
  * Manage the .env file
  * pull docker-compose.yml
  * dock

[2017-01-25 21:44] MisterMartin opened #132 "Add variable id to the variable display on the instrument page"
So that users can use this to identify variables in Grafana.

Perhaps we should add a sortable summary table somewhere which shows site, instruments and variable ids.

[2017-01-26 22:41] MisterMartin opened #133 "Move docker artifacts to a sub-directory"
All of the docker configurations, nginx conf, etc. are in the root directory. These should be located in their own directory, much like the cloudformation templates and so on.

Note that the typical docker and docker-compose usage involve running it from the directory containing Dockerfile/docker-compose.yml. This can cause complications with what is allowed access to in the COPY commands.

[2017-01-27 00:44] MisterMartin commented on #132
A collapsable table was added to the instruments page.

[2017-01-27 00:44] #132 closed, assigned to MisterMartin

[2017-01-27 02:05] erikj commented on #133
@MisterMartin

I get around this by keeping the compose file, or its symbolic link, in the root directory, and executing commands from there. Same could also apply to `Dockerfile`.

[2017-01-27 02:07] MisterMartin commented on #133
So after a git clone, you have to create links?

[2017-01-27 04:57] erikj commented on #133
If I don't keep the `compose` file or `Dockerfile` in the root directory, yes, `ln -s` is part of initializing a new clone.

[2017-01-28 14:50] MisterMartin opened #134 "Correct data retention procedures"
Changes:
* Incorporate a data rentention policy for influxdb.
* Remove the data trim function.
* Clearly display the earliest date that data will be retained for.

Considerations:
* The influxdb forums say that floats take approximately 3 bytes each on disk, but that it depends on data compression.
* Shard size, which is specified by time, does influence influxdb performance.
* A possible scheme:

[2017-01-28 15:05] MisterMartin commented on #107
I'm looking for a label that has the meaning "improve/refactor code". For instance, what is the label for "relocating docker artifacts in the source tree"? It will not be a feature visible to the user, and it doesn't affect the system behavior (we hope). It is a code enhancement, but perhaps that is not a useful label.

[2017-01-28 15:08] MisterMartin commented on #131
This would be a good intern assignment; perhaps needing a couple weeks.

[2017-01-28 17:15] MisterMartin opened #135 "Bring CHORDS for Pi forward to influxdb/grafana"
Docker images do exist for rpi-influxdb and rpi-grafana.

[2017-01-29 15:39] MisterMartin opened #136 "System backup/restore"
Add the capability to save and restore the system state. Useful for system updates, where we want to have a backup in case something goes wrong.

This can probably be as simple as using tar to save copies of the docker volumes, which were implemented in order to preserve system state between reboots. There are currently only three of them, although we might need to add more.

Initially this could

[2017-01-30 02:39] erikj commented on #107
That was stated in the context of branch-name prefixes, where it turned out to be confusing. I like to maintain both labels for GH Issues:

- `feature` == make something
- `enhancement` == make something better

[2017-01-30 17:35] daniels303 opened #137 "Complete CHORDS FY17 Project Plan"

[2017-01-30 17:37] daniels303 opened #138 "Complete document describing how to mint DOIs for real-time data"
See Google Doc here: https://docs.google.com/document/d/1PYnvfGNv73T3eS13mZBsfO8N586dnhvO_USat1XXXHY/edit

[2017-01-30 17:38] daniels303 opened #139 "Complete vetting of CHORDS SUPER intern candidates"
Need to sort through list of intern candidates and come up with at least 3 folks to interview.

[2017-01-30 17:39] daniels303 opened #140 "Create outline for tzvolcano article"
Work with Sarah Stamps. Article will be submitted to EarthCube office, EarthCube social media and could, eventually, be part of an EOS article.

[2017-01-30 17:41] daniels303 opened #141 "Create template for weekly CHORDS stand-up format and process"

[2017-01-30 17:47] daniels303 opened #142 "Create 2017 SUPER Intern Interview Questions"

[2017-01-30 17:50] daniels303 commented on #142
List is here: https://docs.google.com/document/d/1a29v0z4fGDmpG1kkHENhD-DzUD-m1QhNnsW9b6H-yAc/edit

[2017-01-30 17:50] #142 closed, assigned to nobody

[2017-01-30 17:52] daniels303 opened #143 "Review CHORDS Windows 10 install document"

[2017-01-30 17:59] mdye opened #144 "Switch docker container builds from using :latest to a specific version tag"

[2017-01-30 18:00] mdye commented on #144
This is for but the CHORDS image as well as third party containers we use (influxdb, mysql, etc.)

Using a specific version will prevent breakage due to changes in the :latest releases of images.

[2017-01-31 00:12] daniels303 opened #145 "Write up summary report for the the 2016 CHORDS Kickoff Meeting"

[2017-01-31 00:13] daniels303 commented on #140
On 1/30/17, Sarah Stamps reported that NSF/GEO/EAR is out of funding and cannot consider a RAPID proposal for this additional sensors requested as part of this effort.

[2017-01-31 05:05] MisterMartin commented on #128
Completed in ad0edce0e578404cdf71e31ab4d06f5cf114f23f

[2017-01-31 05:05] #128 closed, assigned to MisterMartin

[2017-01-31 05:25] MisterMartin commented on #144
Completed in 23e2c2944b92771907b8cee625ebe6046f349dfe for external docker images.

Will create a separate issue specific to the CHORDS image tagging. This is a much bigger issue, and will require some adjustment to the development workflow procedures.

[2017-01-31 05:25] #144 closed, assigned to MisterMartin

[2017-01-31 05:32] MisterMartin opened #146 "Release tagging and deployment management"
The CHORDS docker images need to be properly tagged, and correctly referenced during deployment.

* The tags will correspond to the releases as identified on github.
* (proposal) The "latest" tag will correspond to the current development build. Or
   perhaps :latest will be the latest stable release, and we will have a :development
   tag.
* End users (and developers) should be able to select the

[2017-01-31 15:12] MisterMartin opened #147 "Remove the data trim function"
It's not feasible with influxdb, which relies instead on a data retention policy.

[2017-01-31 15:16] MisterMartin commented on #134
Removal of the data trim function has been moved to a separate issue #147

[2017-01-31 17:15] MisterMartin commented on #147
Completed in 5db36595d0f9704ffb03f68672cdbf2286220c20.

[2017-01-31 17:15] #147 closed, assigned to MisterMartin

[2017-02-01 00:03] MisterMartin opened #148 "Incomplete data download for high density series"
Data downloads for high density time series are being truncated.

[2017-02-01 00:04] MisterMartin commented on #148
Influxdb has a default limit of 10000 returned points. Raised this limit to 1e6 in 672cc17c6a9d6b4b66acabb54056c4f365346b00.

[2017-02-01 00:04] #148 closed, assigned to MisterMartin

[2017-02-01 01:08] MisterMartin opened #149 "Remove the delete test data button"
Not relevant for influxdb, and so accomplishes nothing now.

[2017-02-01 01:11] MisterMartin opened #150 "Correct destroy site and destroy variable"
Drop series, where 'site=s' and var='v', can be used with influxdb to remove sites and variables.

Add User should be warned that this will make previous data unavailable, since the ids will be lost.

We need to think through the id assignment functionality, so that reasonable behavior is provided.

[2017-02-01 21:11] daniels303 opened #151 "Identify tasks that outside-NCAR CHORDS developers can assist with"

[2017-02-01 21:13] daniels303 commented on #139
Mike Daniels and Mike Dye selected 5 candidates for interviewing. Mike Dye is to send this list to Chris B,  Nick and Meghan Stell as per Nick's email of January 24.

[2017-02-01 21:48] erikj opened #152 "Add warning that user passwords are not encrypted in transit"
For portal sites that aren't using SSL, users should be warned that user passwords are not encrypted in transit when they're submitted from browser to server, and thus users should not reuse passwords from important accounts, such as their bank or email accounts.

[2017-02-01 21:50] intRobyn opened #153 "Create GeoJSON wiki page"
Need to create wiki page describing JSON and GeoJSON

[2017-02-01 21:52] intRobyn opened #154 "Create test script for breaking portal"
create script for testing data limits

[2017-02-02 00:53] MisterMartin opened #155 "Implement the delete test data function for influxdb"

[2017-02-02 00:55] MisterMartin commented on #155
Completed in cc76fcedfcc0a8a6cd5703bacf5f06e859ff2d5d.

[2017-02-02 00:55] #155 closed, assigned to MisterMartin

[2017-02-02 01:05] MisterMartin commented on #149
It is possible to "drop" a series in influxdb, and so test data can be deleted by dropping inst=id and test=true. See #155.

[2017-02-02 01:05] #149 closed, assigned to nobody

[2017-02-02 04:02] MisterMartin commented on #127
Fixed in 5a26514d3bee8140680986f91e78dbe683e9a493.

[2017-02-02 04:02] #127 closed, assigned to MisterMartin

[2017-02-02 04:09] MisterMartin commented on #134
Note that altering a data retention policy on an existing database will cause all existing data to be dropped. If capability is added allowing a user to change the retention policy, they will need to be warned.

Edit: This is not true. See [Shards and Retention Policies](../wiki/InfluxDB-Notes).

[2017-02-02 14:11] keiserk opened #156 "Integrate CHORDS OGC data access services with the Portal"
To achieve better support for the OGC standard data access services, lets investigate just integrating the support for the CHORDS services into the portal so there is no disconnect.  Thoughts?

[2017-02-02 18:21] mdye commented on #156
I think this would be ideal!

What question do you and others at UAH have about the portal that would help in your investigation?

[2017-02-02 21:19] daniels303 commented on #156
I agree, this would really simply the project management and help us
present a more integrated view of CHORDS to the community!

On Thu, Feb 2, 2017 at 11:21 AM, Mike Dye <notifications@github.com> wrote:

[2017-02-02 21:22] daniels303 opened #157 "Create CHORDS Advisory Panel"
- Go through list of scientists and technology experts that were discussed at the Kickoff Meeting
- Send invites
- Schedule first discussion

[2017-02-02 21:29] daniels303 opened #158 "Preliminary support for images (e.g. radar, satellite)"

[2017-02-02 21:29] daniels303 opened #159 "."

[2017-02-02 21:30] daniels303 opened #160 "Tasks for the Summer 2017 CUAHSI workshop"
This is Branko's workshop entitled “[Sensor Network Bootcamp in an Urban Environment](http://www.cvent.com/events/sensor-network-bootcamp-in-an-urban-environment/event-summary-f37f474c940e433fb5b2d4e4596c12f5.aspx)”, University of Michigan, August 23-25

[2017-02-02 21:31] daniels303 opened #161 "."

[2017-02-02 21:31] daniels303 commented on #161
Use the 3d-zambia portal as an example.

[2017-02-02 21:33] daniels303 opened #162 "Mint initial DOIs for real-time data via CHORDS"

[2017-02-02 21:37] #161 closed, assigned to nobody

[2017-02-02 21:45] daniels303 opened #163 "Add GeoCSV and GeoJSON export"

[2017-02-03 13:11] keiserk commented on #156
We would probably need to have a meeting (telecon) to discuss what could be possible in terms of integration.

[2017-02-03 16:08] MisterMartin commented on #159
I think this is the same as #134?

[2017-02-03 16:11] MisterMartin commented on #98
Grafana is now included in the development branch. It appears to be a great match for CHORDS.

[2017-02-03 16:11] #98 closed, assigned to nobody

[2017-02-03 16:40] #159 closed, assigned to nobody

[2017-02-03 16:41] daniels303 commented on #159
Thanks for pointing this out. I removed the duplicate issue and moved this
one to the CHORDS v1.0 Project.

Mike

P.S. I might need a tutorial on how to delete an issue, I couldn't find an
obvious way to do that.

On Fri, Feb 3, 2017 at 9:08 AM, Charlie Martin <notifications@github.com>
wrote:

[2017-02-03 18:19] MisterMartin opened #164 "Secure influxdb"
Create guest and admin accounts for influxdb. The guest account will be available for grafana (and other) access.

[2017-02-04 15:38] MisterMartin commented on #164
Note that the docker environment variables have been modified:

- CHORDS_ADMIN_PW replaces CHORDS_DB_PW: the r/w password for mysql and influxdb.
- CHORDS_GUEST_PW added: the read-only password for influxdb.

Usage of these may be extended to other functions in the future.

[2017-02-04 15:38] MisterMartin commented on #164
Completed in 2cf560fd73e47d12831ab2b643115cfb698d9514.

[2017-02-04 15:38] #164 closed, assigned to MisterMartin

[2017-02-04 18:43] MisterMartin commented on #145
This shows up in the completed column of project "Version 0.9". If it's truly completed, please close the issue.

[2017-02-04 19:15] dsarahstamps opened #165 "my email not associated with tzvolcano and cannot access portal"
At this time my email and saved password do not allow me to login. I try "Forgot your password", and neither of emails were not found.

[2017-02-04 19:19] dsarahstamps opened #166 "slow to load"
It often takes 45 s - 1 min to load tzvolcano. It can also take the same amount of time to change variables for visualization.

[2017-02-04 19:45] MisterMartin commented on #165
Login email was not found because the accounts did not transfer when the site was upgraded to the new CHORDS version.

Email resets are not working at the moment, but new accounts can be created, and an admin can also delete existing accounts if necessary.

[2017-02-04 19:45] #165 closed, assigned to nobody

[2017-02-04 19:47] MisterMartin commented on #166
The site loads for me within a few seconds, on a variety of computers.

I wonder if it has something to do with geographic location? This portal is running on AWS west-2, and Sarah is in Virginia. Very unlikely though; has never been a problem before.

[2017-02-04 20:02] MisterMartin commented on #166
Sarah reports that problem was solved by changing networks.

[2017-02-04 20:02] #166 closed, assigned to nobody

[2017-02-05 15:10] dsarahstamps opened #167 "unable to login to tzvolcano.chordsrt.com"
Currently I am unable to access tzvolcano.chordsrt.com

I made several changes that eventually resulted in the image attached, such as:

- display points for OLO1 and OLO3 to 4000
- destroyed site OLOT
- at one point I accidentally changed the sampling interval for OLO1 to 4000, but changed it back to 1 quickly. t

I can verify that data continues to stream on my iPhone and another computer at Vir

[2017-02-05 15:29] MisterMartin commented on #167
Uncovered a known bug where a deleted site is not being deleted from the influxdb database. This is already documented in #150 and on the list for release 0.9.

[2017-02-05 15:54] MisterMartin commented on #167
I can find these relevant error messages in the log. These don't explain the login problem though.

From dashboard generation:
[code]

From the live display and url_create:
[code]

[code]

[2017-02-05 16:04] dsarahstamps commented on #167
Are you able to log-in?

We don't need OLOT, but if we have to create again temporarily that's ok. I was trying to remove it so the visualization through Vis makes sense.

OLOT is a test site,  I can duplicate OLO1 or OLO3 to the name OLOT.

[2017-02-05 16:45] dsarahstamps commented on #167
The CHORDS portal visualization is working properly now for both OLO1 and OLO3.

[2017-02-06 03:28] MisterMartin commented on #100
We expect the new time series database to solve this.

[2017-02-06 15:46] MisterMartin commented on #134
Tzvolcano has been running on influxdb for about 2 days, with 9 variables at a little less than 1 hz. It uses about 20MB/day. This amounts to 600 MB  a month. On AWS we are storing data on the root file system, and should limit the storage usage to around 2GB, which would mean a retention period of about 3 months for this system.

We could start using S3 on AWS, but this would add additional compl

[2017-02-06 22:41] MisterMartin commented on #167
Fixed in 7b5b36df2d7c81704e363301e5b3331176bcaf2f and 0c293ca680a90859198ea17a531f6604090787a0,

[2017-02-06 22:41] #167 closed, assigned to nobody

[2017-02-06 22:56] #153 closed, assigned to nobody

[2017-02-07 13:24] dsarahstamps opened #169 "data download Gateway Time-out"
I am getting time-out errors when attempting to download data. It worked the first time I tried, but not afterwards. I get the same error when attempting to download 1 day of data.

curl 'http://tzvolcano.chordsrt.com/instruments/2.csv?start=2017-01-01T00:30&end=2017-02-06T23:30'

results in the following error:

\<html\>
\<head\>\<title\>504 Gateway Time-out\</title\>\</head\>
\<body bgcolor="whi

[2017-02-07 14:31] MisterMartin commented on #169
Probably timing out when building a CSV file for 1M+ data samples. I'll take a look at the server.

[2017-02-07 15:07] MisterMartin commented on #169
_Summary: suspicion is that CHORDS nginx or rails is becoming I/O bound trying to deliver large data requests. It seems like data requests for a single day will work when the server eventually clears its work queue._

After a download request hung, I ssh'ed into tzvolcano. Very slow to connect.

Top indicates an I/O wait problem:
[code]

df shows:
[code]

After awhile, the kworker processes finish

[2017-02-07 16:22] dsarahstamps commented on #169
How long should I wait before downloading another day?

[2017-02-07 18:28] mdye opened #170 "Create SQL to export existing mySQL measurements as InfluxDB line protocol"

[2017-02-07 18:29] mdye commented on #170
SELECT
CONCAT('INSERT tsdata,inst=', m.instrument_id, ',site=', instruments.site_id, ',var=', vars.id , ',test=false', ' value=', m.value , ' ', UNIX_TIMESTAMP(m.measured_at), '000000000')
from measurements as m
left outer join instruments on instruments.id = m.instrument_id
inner join vars ON vars.shortname LIKE m.parameter AND vars.instrument_id=instruments.id
;

[2017-02-07 19:11] mdye commented on #170
Instructions:

- create .sql file with the SQL query in the previous comment

- runt the command
mysql -s -r -u chords_demo_user -p --host=127.0.0.1 chords_demo_development < ./export_to_influxdb_line_protocol.sql  > export.txt

[2017-02-07 20:07] MisterMartin commented on #169
As soon as one day was finished, I started up the next down load. If the curl hangs or times out, it's likely that the web site is hung also. So in that case, wait until you yo can refresh the dashboard, which will indicate that the server has recovered.

I have been testing by just using the data tab, to fetch one day of data at a time. It worked fine for me over the weekend.

If multiple people

[2017-02-07 21:43] MisterMartin commented on #170
I successfully ran this inside the mysql container on the old tzvolcano instance (which was the first docker based mysql version). Also shown is the sql command in query.sql, same as above. It took quite awhile (10min?) to run.

Once the file was created, I just copied it to outside the container, and finally down to my workstation. Don't forget to delete these files when they have been transferre

[2017-02-07 21:47] mdye commented on #170
I'm attempting to run it on 3d.chordsrt.com but having some difficulty.

[2017-02-07 22:09] MisterMartin commented on #170
I haven't been able to contact 3d.chordsrt.com. The last time I checked, it had 25M samples. I suspect that it needs to be restarted.

[2017-02-07 22:10] MisterMartin commented on #170
I just ran it on 3d-zambia, and it worked slick.

[2017-02-07 22:17] mdye commented on #170
I rebooted 3d.chordsrt.com a little bit ago and am currently attempting to run the SQL query on it.  I think a prior run was what crashed it a bit ago.

[2017-02-07 22:56] MisterMartin commented on #170
Successfully imported the data from 3d-zambia into influx. Discovered three things:
- The export may create lines containing just the word "NULL". Delete these.
- "INSERT " should not be at the beginning of the lines.
- Put the following header at the beginning of the file:
[code]
- Other database manipulation may be included as well. See [the influx CLI documentation](https://docs.influxdata.com/

[2017-02-07 23:44] MisterMartin commented on #169
Sarah, have you been able to download data now?

[2017-02-08 05:06] MisterMartin opened #171 "Migrating from mysql-only to mysql-influxdb CHORDS"
This [mysql backup script](https://github.com/rubo77/mysql-backup.sh/blob/master/mysql-backup.sh) will allow you to backup a mysql database while excluding the data from selected tables. Might be able to use it to transfer the portal metadata.

The mysql query from #170 can be used to capture the measurement data to be transferred to influxdb.

Done together, we should be able to completely transf

[2017-02-08 22:03] #110 closed, assigned to intRobyn

[2017-02-08 23:24] dsarahstamps commented on #169
Is my command line ok?

As I understand this line asks for data that starts on 1 January 2017 and 30 January 2017. Is that correct?

urlcsv1='http://tzvolcano.chordsrt.com/instruments/2.csv?start=2017-01-17T00:30&end=2017-01-30T23:30'

curl $urlcsv1

[2017-02-09 00:38] MisterMartin commented on #169
That works for me, if I change the dates. Those dates are not on the new tzvolcano portal, which was started on Feb. 4.

Should we try to migrate the data from the old portal (pre-Feb4) to the new portal?

Also please limit your downloads to 1 day span. That url spans 13 days.

[2017-02-09 20:06] MisterMartin commented on #135
Completed in 1b3c3ba91b6e9ac214c5314decc0ded1a99f2b75.

[2017-02-09 20:06] #135 closed, assigned to MisterMartin

[2017-02-10 00:19] MisterMartin opened #172 "Verify that an EC2 restart will correctly restart a current cloudformation instance"
Does the cloudformation recipe only get run on instance creation, or on every boot?

If only on creation, then the template will need to be modified to run docker-compose on reboots. This will allow users to reboot the AWS EC2 instance, without having to ssh in and start CHORDS manually.

[2017-02-10 00:38] MisterMartin commented on #172
I just did a stop and a start on a fresh instance, and the docker containers were not started automatically. More investigation is needed.

[2017-02-10 01:52] erikj commented on #172
Seems like that should be handled by the init manager, e.g. `systemd`. Here's a `.service` file that I use:

[code]

[2017-02-10 01:55] erikj commented on #172
If **Docker** isn't `enable`d on boot:

[code]

[2017-02-10 03:41] #106 closed, assigned to mdye

[2017-02-10 03:51] mdye opened #173 "Add min/max bounds for inline highcharts graph"

[2017-02-10 04:03] MisterMartin commented on #106
You discern the merge status by little bar graph, right? I can live with
that, but like so many things git, it's less than obvious....

On Thu, Feb 9, 2017 at 8:41 PM Mike Dye <notifications@github.com> wrote:

[2017-02-10 05:14] erikj commented on #106
http://stackoverflow.com/a/227026

[2017-02-10 18:33] MisterMartin commented on #172
AWS Linux is still on RHEL 6; no systemd :-(

[2017-02-10 18:49] erikj commented on #172
SysV

[code]

[2017-02-10 21:23] mdye opened #174 "Plot multiple instrument variables on one graph"

[2017-02-10 21:26] mdye opened #175 "Plot different time windows"
Add the ability for the portal to display plots and graphs for different windows in time.

[2017-02-11 16:30] MisterMartin commented on #172
What is the correct way to get the rc<n>.d links created? It looks like this is specified chkconfig: comment.

Use:  ```chkconfig docker-compose-chords --add && chkconfig docker-compose-chords on```

[2017-02-11 17:18] MisterMartin commented on #172
Completed in cf88c6ff8efb1b7bd9103f620df42d4caa62ba4f.

[2017-02-11 17:18] #172 closed, assigned to MisterMartin

[2017-02-11 17:20] MisterMartin commented on #100
With tzvocano now running on influxdb, an we say that this has been completed?

[2017-02-11 17:43] daniels303 commented on #162
Created a draft document describing the values of the DOI fields. Received feedback from Don Stott and John Allison on that document and need to incorporate their changes.

[2017-02-11 18:34] dsarahstamps commented on #100
Yes, this issue has been resolved.

[2017-02-11 23:41] MisterMartin commented on #100
Issue resolved by upgrading to the new influxdb version.

[2017-02-11 23:41] #100 closed, assigned to mdye

[2017-02-12 16:06] MisterMartin commented on #169
Questions were answered.

[2017-02-12 16:06] #169 closed, assigned to nobody

[2017-02-12 22:59] dsarahstamps opened #176 "errors in records of samples and grafana after adding time-stamp"
I have added the "at=" parameter in ISO 8601 format to the input string of data.

http://tzvolcano.chordsrt.com/measurements/url_create?instrument_id=1&lat=2.73421&lon=35.9502&height=988.177&at=2017-02-17T22:20:45

Data streams in appropriately for OLO1 and OLO3, which can be seen in the time-series through tzvolcano.chordsrt.com. However, a few unexpected changes occurred:

1) In the Dashboard of

[2017-02-13 03:47] dsarahstamps commented on #176
Update: OLO3 is down on my side, but OLO1 is still transmitting. The time-series is no longer updating for OLO1.

[2017-02-13 17:59] MisterMartin commented on #176
It seems like that timestamp is in the future: 2017-02-17T22:44:16

[2017-02-13 19:44] MisterMartin commented on #176
Grafana can see this data, with future timestamps. Set the time span for the plot to go from "now" to something like Feb 18, and you get the following:

![screen shot 2017-02-13 at 12 44 02 pm](https://cloud.githubusercontent.com/assets/1703358/22900039/2b12f40e-f1ea-11e6-910c-75e904b0d6c8.png)

[2017-02-13 19:49] MisterMartin opened #177 "CSV data file timestamps only have 1 second precision"
They should report to ms precision.

[2017-02-13 19:53] MisterMartin commented on #177
The same is true for JSON. It's probably related to the influxdb query.

[2017-02-13 20:21] MisterMartin opened #178 "Directory missing from branch:bug-93-fix_email_sending"
The `postfix` directory doesn't seem to be committed in branch:bug-93-fix_email_sending:

[code]
Referenced in the mta service of docker-compose.yml:
[code]

[2017-02-13 21:25] MisterMartin commented on #173
I tested this feature (at 8597d20) and it works. However, I get a popup from chrome, which offers to translate the instrument page from Danish. :-)

[2017-02-13 21:32] dsarahstamps commented on #176
How about now?

 http://tzvolcano.chordsrt.com/measurements/url_create?instrument_id=1&lat=2.73421&lon=35.9502&height=988.164&at=2017-02-13T21:30:23

[2017-02-13 21:38] MisterMartin commented on #173
Scratch that. instrument_controller.rb breaks at line 179 if there are no variables defined yet for an instrument.

To reproduce the problem, add a new instrument. Select the instrument in order to start adding variables. The result is:
[code]
It occurs because there are no `vars` defined yet. instruments_controller.rb:175-180:
[code]

[2017-02-13 21:58] daniels303 opened #179 "Create plan for the implementation of CHORDS standard services though FY17"
See the Release 0.9 and Release 1.0 documents for examples of task lists.

[2017-02-13 22:04] MisterMartin opened #180 "Investigate adding swap space to smaller AWS t2 instances"
It seems that running out of memory is a fairly transient phenomenon. Allocating a GB of instance storage for swap may solve this and allow us to use t2.micro instances.  Have to be careful though that we don't  [incur I/O charging](http://stackoverflow.com/questions/17173972/how-do-you-add-swap-to-an-ec2-instance).

[2017-02-13 22:07] dsarahstamps commented on #176
Is it possible the data that is time-stamped for the future needs to be deleted?

[2017-02-13 22:14] MisterMartin commented on #176
Data for instrument 1 is now showing up in the dashboard and grafana.
![screen shot 2017-02-13 at 3 13 22 pm](https://cloud.githubusercontent.com/assets/1703358/22905830/0fe60eae-f1ff-11e6-8996-a5ac6278e110.png)

[2017-02-14 04:41] MisterMartin commented on #176
The "at=" for OLOT3 is bogus:
![img_0155](https://cloud.githubusercontent.com/assets/1703358/22915518/2e1d5310-f235-11e6-94a0-099e0744463e.PNG)

[2017-02-14 13:11] dsarahstamps commented on #176
Corrected. This issue is resolved.

[2017-02-14 13:11] #176 closed, assigned to nobody

[2017-02-14 17:56] MisterMartin commented on #134
See [Shards and Retention Policies](../wiki/InfluxDB-Notes) for an explanation of retention policies. It seems that the following, issued in the startup script, will suffice to establish a retention period of (say) 1 year:
[code]

The duration could be established by an environment variable, set in `.env`.

[2017-02-14 22:34] MisterMartin commented on #134
Completed with 0b66ed7573f8b37bb2b70061a6d5061fa37bb9c9.

[2017-02-14 22:34] #134 closed, assigned to MisterMartin

[2017-02-14 22:50] MisterMartin commented on #177
This is not a real problem. Turns out that tzvolcano is using timestamps with full second resolution.

[2017-02-14 22:50] #177 closed, assigned to nobody

[2017-02-14 22:52] MisterMartin commented on #111
Should also include the dashboard data summaries.

[2017-02-16 00:38] MisterMartin commented on #171
Transferred the 3d CHORDS site to a new  portal, preserving the configuration and the time series data.

The process follows these steps:
 - Use `mysqldump` to dump the complete 3d mysql database.
 - Bring up a fresh CHORDS instance under docker.
 - Use the `mysql` command to load the dump into the new MySQL database.
 - Extract the time series data from the new database, in InfluxDB line format.

[2017-02-16 01:03] erikj commented on #171
It looks like you can save yourself some effort, and the consequences of opening a potentially large file in a text editor, by creating the file w/ the header and then appending to it:

[code]

[2017-02-16 05:40] MisterMartin commented on #171
Great suggestion.

[2017-02-16 19:12] daniels303 commented on #137
Project plan submitted on Feb 6, 2017.

[2017-02-16 19:12] #137 closed, assigned to nobody

[2017-02-16 19:13] daniels303 commented on #151
Created a task for Ken Keiser to outline a plan to integrate standard services with the current CHORDS codebase.

[2017-02-16 21:29] mdye commented on #170
Updated SQL for breaking the query into chucks:

SELECT
CONCAT('tsdata,inst=', m.instrument_id, ',site=', instruments.site_id, ',var=', vars.id , ',test=false', ' value=', m.value , ' ', UNIX_TIMESTAMP(m.measured_at), '000000000')
from measurements as m
left outer join instruments on instruments.id = m.instrument_id
inner join vars ON vars.shortname LIKE m.parameter AND vars.instrument_id=instrume

[2017-02-16 23:46] #124 closed, assigned to mdye

[2017-02-16 23:46] #93 closed, assigned to nobody

[2017-02-16 23:47] mdye commented on #93
Fix implemented and merged into development branch.

[2017-02-16 23:48] mdye commented on #170
Completed for the time being. Re-open if there are additional changes to the SQL required.

[2017-02-16 23:48] #170 closed, assigned to mdye

[2017-02-17 03:57] MisterMartin commented on #178
Still not finding the ./postfix directory, even after the merge into development.

[2017-02-17 18:55] mdye commented on #173
I added a check to make sure that variables are defined before attempting to generate a plot.

This has been merged back in to development

[2017-02-17 18:55] #173 closed, assigned to mdye

[2017-02-17 19:13] mdye commented on #178
The postfix directory was an artifact of experimentation that should have been removed.

[code]

[2017-02-17 19:13] #178 closed, assigned to nobody

[2017-02-18 03:38] MisterMartin commented on #171
It's working, more or less. Will have to solve the slow query problem when it becomes critical.

[2017-02-18 03:38] #171 closed, assigned to MisterMartin

[2017-02-21 23:53] mdye opened #181 "uninitialized constant Instrument::TsPoint"
When a new portal is created from the development branch, the instrument model currently attempts to read from the influxdb timeseries before any measurements exists.

This results in a error:

[code]

[2017-02-22 00:17] MisterMartin commented on #181
This is documented. Workaround is to run the simulator. But the fix should
be pretty easy.

On Tue, Feb 21, 2017 at 16:53 Mike Dye <notifications@github.com> wrote:

[2017-02-22 13:14] MisterMartin commented on #150
Similary, if the site is changed for an instrument, the existing site, inst and var tags for existing values will remain unchanged.

Is this the desired behavior?

[2017-02-22 17:39] intRobyn opened #182 "Change UI for users not signed into Chords"
Change the UI for users not signed into CHORDS so they don't see editing boxes when they click on things such as instruments.

[2017-02-22 17:59] MisterMartin commented on #182
I believe this is an artifact of the bestinplace gem, and I've also wondered how to deal with this issue. It is distracting.

[2017-02-22 18:10] MisterMartin commented on #181
I thought this problem was fixed in #127, which is what is was referring to above. Must be a different problem.

[2017-02-22 18:44] mdye commented on #181
The issue i was experiencing may have been related to a corrupted development database.

In any case, I added a couple of checks to make sure TsPoint is defined before attempting to use it.

[2017-02-22 18:44] mdye commented on #181
Merging in to development

[2017-02-22 18:44] #181 closed, assigned to mdye

[2017-02-22 23:17] mdye commented on #152
Message added to all pages where the password is editable.

[2017-02-22 23:17] #152 closed, assigned to nobody

[2017-02-24 17:49] #154 closed, assigned to nobody

[2017-02-24 20:27] dsarahstamps opened #183 "Changes in data import?"
I'm having some issues importing data streams into tzvolcano.chordsrt.com using my existing scripts. I've also tested with a back-up test script that does not include recent updates for a time-stamp.

Please see the screen output below:
[code]

[2017-02-24 21:17] mdye opened #184 "Set up portal for CSU"
Create a new portal on AWS for Ryan to use

[2017-02-24 21:27] mdye opened #185 "Deleting data button on data page no longer available"
Sarah Stamps reports that the delete data option on the data page is no longer available.

Need to investigate this.

[2017-02-24 21:40] mdye commented on #185
This was removed during the transition to using InfluxDB.

Re-adding this feature is pending.

[2017-02-24 21:47] MisterMartin commented on #185
This is handled when the data retention length is set in the chords
environment.

On Fri, Feb 24, 2017 at 16:40 Mike Dye <notifications@github.com> wrote:

[2017-02-24 21:48] MisterMartin commented on #185
See env_template.

On Fri, Feb 24, 2017 at 16:47 Charles Martin <martinc@ucar.edu> wrote:

[2017-02-24 23:55] MisterMartin commented on #185
Also see #147.

[2017-02-25 18:46] daniels303 commented on #151
Need a task for Branko's mapping features. Would like input into who should lead this effort.

[2017-02-27 20:32] #141 closed, assigned to daniels303

[2017-02-27 21:25] daniels303 opened #186 "Modify team members of the CHORDS github repo"
Need to verify:
Josh Jones

Need to add:
Matt Bartos, Branko Kerkez

Need to remove:
Manil Maskey

[2017-02-27 21:26] daniels303 opened #187 "Create sandbox milestones for items that are not yet part of a CHORDS release"

[2017-02-27 21:35] daniels303 commented on #187
Created wiki page for this:

https://github.com/NCAR/chords/wiki/CHORDS-%22sandbox%22-milestones

and added the first milestone to it.

[2017-02-27 21:35] #187 closed, assigned to daniels303

[2017-02-27 21:38] intRobyn opened #188 "Dashboard Display issue"
The Dashboard is showing instruments as not working (red circle) but when you click on said instrument it shows on the next page that it is working(green circle). Even after clicking back and forth between the two pages does not change the markers.

[2017-02-27 23:32] mdbartos opened #189 "Issues with CloudFormation"
Greetings,

I'm trying to create a new CHORDS portal so that I can begin porting data. I'd like to create a portal with the new influxDB backend, as opposed to the old MySQL backend.

When I attempt to create a new CloudFormation stack, the template provided in the documentation (http://ncar.github.io/chords/create.html) no longer appears to be valid:
https://s3-us-west-2.amazonaws.com/chords-temp

[2017-02-27 23:35] mdye commented on #189
Hi Matt,

Thank you fore reporting this. I'll take a look at this and figure out what
went wrong.

Thanks,
Mike

On Mon, Feb 27, 2017 at 4:32 PM, Matthew Bartos <notifications@github.com>
wrote:

[2017-02-27 23:39] mdbartos commented on #189
Quick question: Is there a working branch that uses the influxdb backend, or is it still in development?

[2017-02-27 23:44] mdye commented on #189
The "development" branch is working and has InfluxDb implemented, although it may not be AWS-ready.

[2017-02-28 12:31] MisterMartin commented on #189
You want to make sure that you are using the development branch. I think
that's what the wiki and the chords web site day, but perhaps not.

I thought that I uploaded the current template from development branch to
the S3 copy. And it should reference development/docker-compose.yml, which
in turn will have chords, MySQL, influxdb and postfix services.

Sorry I don't have very good network access r

[2017-02-28 18:53] mdye commented on #189
I just tried to create a AWS portal using the S3 copy : https://s3-us-west-2.amazonaws.com/chords-template/docker.template.yml

The setup is currently failing and I'm attempting to track down the reason.

[2017-02-28 23:04] MisterMartin commented on #189
Sorry I'm not there to join in the chase. Debugging cloud formation
templates is a nightmare. One thing to do is just run it through a yml
parser to make sure there are no formatting issues.

I have started a few machines with that template. Be sure to try it with
all defaults, and don't forget to select the ssh key.

Good luck!

Charlie

On Tue, Feb 28, 2017 at 13:53 Mike Dye <notifications@githu

[2017-02-28 23:07] mdye commented on #189
Thanks for the guidance Charlie!

Debugging these things is indeed a nightmare.

Maybe I'll just blame it on AWS having a bad day and give it a try again
tomorrow. :)

On Tue, Feb 28, 2017 at 4:04 PM, Charlie Martin <notifications@github.com>
wrote:

[2017-02-28 23:10] MisterMartin commented on #188
Generally this happens when the  at= time is not very accurate. Or the
instrument time interval is short, like one second.

Because of exactly this situation, I've wondered if we should add a
parameter which specifies how big delta t should be allowed before flagging
missing data. Should we do this?

On Mon, Feb 27, 2017 at 16:38 intRobyn <notifications@github.com> wrote:

[2017-02-28 23:33] mdbartos commented on #189
Could just be AWS today:

https://news.ycombinator.com/item?id=13755673

[2017-03-01 18:14] mdye commented on #189
It looks like it /was/ AWS that caused the portal creation failure.  I just tried it again using the same template and everything worked just fine.

Give it another shot Matt!

[2017-03-01 19:55] mdbartos commented on #189
Great. Which S3 URL is the correct one to use?

[2017-03-01 20:05] mdye commented on #189
I used https://s3-us-west-2.amazonaws.com/chords-template/docker.template.yml

[2017-03-01 21:23] mdbartos commented on #189
I'm still getting the same error :(

Trying to access the file directly yields:

[code]

[2017-03-01 21:54] mdye commented on #189
This must be a permission poblem.

Charlie, can you change the permissions on the S3 bucket so that it's
world-readable?  Unless I'm logged in to AWS I can't access it either.)

On Wed, Mar 1, 2017 at 2:23 PM, Matthew Bartos <notifications@github.com>
wrote:

[2017-03-02 03:17] MisterMartin commented on #189
I can't change the s3 access permissions right now because I'm on a
sailboat in Florida.  But you can just checkout the chords development
branch of bin/cloudformation/docker.template.yml and use that.

I'll change the s3 permissions in a few days.

Charlie

On Wed, Mar 1, 2017 at 16:54 Mike Dye <notifications@github.com> wrote:

[2017-03-02 05:49] mdye commented on #189
That's a most excellent reason, and an envious one!

I'll see if I can figure out how to change the permissions!

On Wed, Mar 1, 2017 at 8:17 PM, Charlie Martin <notifications@github.com>
wrote:

[2017-03-02 20:55] mdye commented on #189
I figured out where the template was located and changed the permissions to
so that everyone can read it.

Let me know if this continues to give permission denied errors!

~Mike

On Wed, Mar 1, 2017 at 10:48 PM, Mike Dye <mdye@ucar.edu> wrote:

[2017-03-02 21:20] mdbartos commented on #189
Ok, I was able to make it to the stack creation step. However, stack creation failed:

[2017-03-02 21:25] mdbartos commented on #189
It appears that the default EC2 type (T2) is only available in a VPC:

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-vpc.html#vpc-only-instance-types

I'm not sure I can fix on my end. It might require changes to the template.

[2017-03-03 19:28] mdye commented on #189
Strange - I haven't encountered this before.

Could you attach a couple of screenshots so I can see exactly which
configuration options are selected?

Thanks,
Mike

On Thu, Mar 2, 2017 at 2:25 PM, Matthew Bartos <notifications@github.com>
wrote:

[2017-03-03 21:54] erikj commented on #189
I believe that this issue arises due to account vintage, which I've encountered, in other settings, w/ my personal account:

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-vpc.html

[2017-03-03 22:26] mdye commented on #175
Time window plotting has been implemented and merged into development.

Any feedback on further improvements are welcomed.

I'm leaving this issue open for the time being pending feedback.

[2017-03-03 23:07] mdbartos commented on #189
Just tried creating a stack on the Ohio region and it failed with the following error:

[2017-03-03 23:32] mdbartos commented on #189
Is there a place to specify a subnet ID or network interface ID in the template?

[2017-03-06 17:52] mdye opened #190 "Create a rake task to create test data sets"
Implement a rake task that takes several arguments and creates a test data set.

Arguments:
instrument_id, start_date, end_date

Pseudo Code:

[code]

[2017-03-06 17:54] mdye commented on #190
**Potentially useful resources**

[RailsCast on rake](http://railscasts.com/episodes/66-custom-rake-tasks)

[Example of creating a custom rake task](https://www.ultrasaurus.com/2009/12/creating-a-custom-rake-task/)

[2017-03-07 05:41] MisterMartin commented on #190
A few options, with defaults of course, could make test data much more realistic. This would especially provide more realistic exercising of visualization.

Some ideas come to mind:
- choose a waveform (e.g. sinusoid, sawtooth, stair step, white noise, etc.)
- specify mean, amplitude, and period
- specify the variance of noise to add

And then there could also be some canned sensor simulation type

[2017-03-07 17:20] mdye commented on #183
The cause of the error turned out to be that the 8G of disk storage on the AWS volume had been consumed, mostly by the docker images.

The AWS volume for tzvolcano was increased to 16G and the problem has been resolved.

This disk usage problem will also impact any new or upgraded instances.

[2017-03-07 17:23] MisterMartin commented on #183
Were all of the unused images removed? Every time I've done this I've ended
up with about 4 of 8 GB available.

On Tue, Mar 7, 2017 at 12:20 PM Mike Dye <notifications@github.com> wrote:

[2017-03-07 17:25] mdye commented on #190
More realistic test data would be cool, but i think it's a feature to consider further down the road.

The intention of this particular issue is to be able to quickly generate a large number of test measurements via the command line (e.g. not through the simulator).  This will allow for testing of some of the basic chords features that have been problematic such as downloading large amounts of dat

[2017-03-07 17:26] mdye commented on #183
Yes, the unused image were removed.

[2017-03-07 17:27] MisterMartin commented on #183
Why are docker images suddenly taking up so much space?

On Tue, Mar 7, 2017 at 12:26 PM Mike Dye <notifications@github.com> wrote:

[2017-03-07 17:33] mdye commented on #183
It's the docker images in combination with the data file
/var/lib/docker/devicemapper/devicemapper/data
which is currently at 2.9G

The increase in storage space is definitely a bandaid and in need of further investigation.

[2017-03-07 17:40] mdye commented on #183
It looks like there are dangling volumes:

`docker volume ls -f  dangling=true

DRIVER              VOLUME NAME

local               4056d508bddf37567fe8bbccac0a833e78879d4044a6026cbc6186c747addc03
local               96614eb835f1f377465460b12a6041520848a10e5ff6b75eb5c28cb9d2764133`

[2017-03-07 17:50] MisterMartin commented on #183
Add 1GB for the o/s, shouldn't we still have 4GB remaining?

Perhaps the dangling volumes can be removed?

The newest version of docker-compose supports a "system prune" command,
which reclaims all unused space. Works nicely on MacOS. We might consider
upgrading to this version on AWS. Also I think there is a way to have a
pull get rid of previous versions of an image.

Finally, I mentioned watcht

[2017-03-07 18:36] mdye commented on #189
Hi Matt,

It looks like the template doesn't include a mapping for us-east-2 under AWSRegionArch2AMI.

I'm looking in to how to add the proper mapping.

[2017-03-07 19:06] mdye commented on #189
I added a mapping for the us-east-2 region and was then able to create a portal in the us-east-2 (Ohio) region.

Give it one more try!

[2017-03-08 16:38] MisterMartin commented on #175
Looking good. A couple of questions:

- When I enter dates in the to/from boxes and hit return, they just revert to the original values.
- There is text "zoom" on the upper left of the plot, but it doesn't seem to do anything.
- How could it be made simple to space forward/backward in time? Forward/backward buttons? Use arrow keys? I'm pretty sure that I see this kind of navigation capability on o

[2017-03-08 16:41] MisterMartin commented on #185
Does this need to remain open? I believe that it is handled correctly by the influxdb retention period.

[2017-03-08 17:17] mdye commented on #185
I think this can be closed.

It might be good to add some text to the "data" page where the trim functionality used to live stating that the data deletion is not handled in a different manner.

[2017-03-08 18:38] MisterMartin commented on #185
Expiration info added to the Data page in ff25fe5f0ed052b798366fe0846d22c863cb5b10.

[2017-03-08 18:38] #185 closed, assigned to mdye

[2017-03-09 03:49] mdbartos commented on #189
Portal creation succeeded for the Ohio region!

Might be a good idea to keep an eye on the VPC issue though.

[2017-03-09 05:07] MisterMartin commented on #189
That's good news.

I have been creating and running influxdb based portals by the score on AWS for several months now, and haven't run across any issues (or even mention of) VPC.

Relating to the original issue: the current operational CHORDS version is the head of the development branch, and it runs _both_ a mysql database for metadata, and influxdb for timeseries data. As is obvious now, the tem

[2017-03-09 22:42] mdye opened #191 "Unicorn /chords/tmp/unicorn.chords.soc file halting container boot (Docker on Windows problem)"
On Windows 10 Robyn and I were getting a weird error yesterday when bringing up containers using the docker-composed-dev.yml file on Robyns windows machine.  The containers would get most of the way through boot, but then dies giving the following error message:

[code]

[2017-03-09 22:43] mdye commented on #191
We eventually tacked this down to a problem that windows has volumes shared between the host and container - in this case the /chords directory.

To resolve the issue we moved the .sock file to /tmp/unicorn.chords.sock

I doubt this will cause any issues, but I wanted to document what was don  in case it _does_ break something.

[2017-03-09 22:43] #191 closed, assigned to nobody

[2017-03-10 16:20] MisterMartin commented on #189
Can we close this issue?

[2017-03-10 16:25] MisterMartin commented on #108
Completed by the transition to influxdb.

[2017-03-10 16:25] #108 closed, assigned to nobody

[2017-03-10 17:05] MisterMartin opened #192 "Change .env to chords_env for docker-compose"
This file is used to set environment variables for docker-compose, and is read by default. It is lame to have a hidden file for something so critical to the proper configuration of a portal.

Changes:
 1. Modify docker-compose.yml so that each service references _chords_env_ in the environment section.
 1. Update installation instructions to specify creation and editing of _chords_env_ instead of

[2017-03-10 17:47] mdye commented on #189
Resolved, Closing Issue.

[2017-03-10 17:47] #189 closed, assigned to nobody

[2017-03-10 20:01] MisterMartin commented on #183
Cleaned out docker and increased storage.

[2017-03-10 20:01] #183 closed, assigned to nobody

[2017-03-10 20:37] ryangooch opened #193 "Research spatial databases for radar data storage"

[2017-03-10 21:04] mdye opened #194 "Add ability to clone X number of instruments"

[2017-03-10 22:22] mdye commented on #184
An AWS portal has been created with the IP of http://54.68.48.135 and the domain name csu-hail.chordsrt.com

[2017-03-10 22:22] #184 closed, assigned to mdye

[2017-03-11 00:28] mdye commented on #194
Completed and merged into development

[2017-03-11 00:28] #194 closed, assigned to mdye

[2017-03-11 19:16] MisterMartin commented on #192
This was not completely possible. It turns out that _.env_ and the _env_file_ specification in docker-compose.yml have different purposes:
 - _.env_ makes environment variables available for variable substitution in docker-compose.yml.
 - _env_file_ is used only to transfer environment variables to a container. Its values cannot be used to set variables in docker_compose.yml.

So we will stick wit

[2017-03-11 19:16] #192 closed, assigned to MisterMartin

[2017-03-11 19:38] MisterMartin commented on #79
Completed with c83c2312a74228aabd214d272b18f2759599b219.

[2017-03-11 19:38] #79 closed, assigned to nobody

[2017-03-11 19:41] MisterMartin commented on #91
Dockerfile has been modified to remove the repository during builds, and the --squash switch will truly remove it from the image.

[2017-03-11 19:41] #91 closed, assigned to nobody

[2017-03-13 16:32] mdye commented on #136
Look in to  the [smarter CSV](https://github.com/tilo/smarter_csv) gem to potentially implement a re-import of exported data.

[2017-03-13 23:24] intRobyn commented on #143
Waiting for input from students

[2017-03-14 18:14] mdye opened #195 "Implement keyboard shortcuts in highcharts"
Investigate a possible highcharts that lets one navigate backwards and forwards in time (and do other things) using the keyboard

[2017-03-14 18:20] mdye commented on #175
**Date reverting to previous value:**
Unfortunately this is what happens in highcharts when you select a date that is out of the range for which highcharts has data.  This would be hard to fix, but is definitely a bit annoying.

**text zoom**
This has been removed

**Keyboard navigation**
This is a great idea, but beyond the scope of this issue. I created a [new issue](highcharts-range-selector-bu

[2017-03-14 18:20] #175 closed, assigned to mdye

[2017-03-14 18:21] mdye commented on #174
This has been implemented, although the plot overlays looks pretty cluttered with only three variables.

Given that, I'm not actually sure this is an improvement.

[2017-03-14 18:21] #174 closed, assigned to mdye

[2017-03-14 20:04] mdye commented on #186
Matt and Branko have been added, Manil was removed.

I'm awaiting Josh's github username.

[2017-03-15 16:42] mdye opened #196 "Remove truncation and rounding from site latitude/longitude settings"
Reported by Dennis Little:

"  When setting up an instrument, it asks for Lat/Lon/Elevation.  For Lat, it will take our main site as 35.8615.  For Lon, it will initially accept 106.3195 but after leaving the record, it converts it to 106.32.  Granted, that’s not much, but it seems it should be consistent."

[2017-03-15 17:18] MisterMartin commented on #174
Showing all of the variables definitely get too cluttered (see portal.chordsrt.com).

I recall that we were talking about some sort of dashboard builder. But in the short run, how about just adding buttons for selecting the variables to be displayed? The current variable selectors could be converted to bonafide radio buttons.

[2017-03-15 17:29] mdye commented on #174
Sounds like a good plan.

I think I can disable all but the first variable by default, so that only
one variable would be plotted when the page first loads.  The use could
then select other variable to add to the plot.

On Wed, Mar 15, 2017 at 11:18 AM, Charlie Martin <notifications@github.com>
wrote:

[2017-03-15 21:17] mdye opened #197 "Fix references to chords@eol.ucar.edu"
Update any references to chords@eol.ucar.edu, as that alias is no longer valid and bounces.

Both official CHORDS pages as well any pages returned by Google searched should be updated.

If the content is hosted on a site that we do not have control over, we should contact the webmaster and ask them to update the address.

[2017-03-15 21:19] mdye opened #198 "Add contact information to the CHORDS EOL landing page (and other CHORDS websites)"

[2017-03-15 23:00] erikj commented on #196
Obligatory, take two:

http://gis.stackexchange.com/a/109178/31033

[code]

[2017-03-16 21:35] mdye commented on #136
Implemented a JSON file download and restore system.

Merged into development.

[2017-03-16 21:36] mdye commented on #186
Josh has been added - closing.

[2017-03-16 21:36] #186 closed, assigned to nobody

[2017-03-16 22:17] mdye commented on #196
Lat, lon and elevation changed from float to decimal in the database.

[2017-03-16 22:17] #196 closed, assigned to nobody

[2017-03-16 22:46] mdye commented on #182
done

[2017-03-16 22:46] #182 closed, assigned to intRobyn

[2017-03-16 23:58] MisterMartin commented on #136
Getting a rails fault when I mash the "Backup configuration" button. See portal.chordsrt.com.

Log message is:
[code]

[2017-03-17 17:27] daniels303 commented on #162
Worked with Don Stott to create [this document] (https://docs.google.com/document/d/1hwWOt9k94ZS3l7sNNxO1BizOoqF6MlxBa1pM2N5l4pE/edit) which describes the metadata fields for the tzvolcano portal.

[2017-03-20 04:28] mdye commented on #163
Initial version of GeoJSON and GeoCSV implemented and merged into development branch.

Note: Both these formats are flexible, and should be reviewed to make sure we are including and laying out the files in an optimal way for our users.

[2017-03-20 17:33] daniels303 commented on #162
Added a description of landing page requirements to the end of the above document. This needs to go on the "About" tab of the tzvolcano CHORDS portal. Robyn will look into this.

[2017-03-20 17:57] daniels303 opened #199 "Create DOI for the CHORDS software"
We need to create a DOI for the CHORDS software itself. Initial thoughts is that the landing page for the DOI could go under the "About" on chordsrt.com, but we would need to modify this to include a citation example and to point to the GitHub repository for the code. A sample DOI for the NCAR Command Language software can be seen at:

https://doi.org/10.5065/D6WD3XH5

[2017-03-20 17:58] #138 closed, assigned to nobody

[2017-03-21 16:57] mdye commented on #136
I renamed the backup/restore related files, methods and text to use the language of import/export configuration.

[2017-03-22 02:26] mdye commented on #150
Deletion cascading implemented:
Deleting a site -> deleted instruments -> deleted variables -> deletes influxdb points

This has been merged into development branch

I'll create a separate issue for deciding on the desired behavior for when an instruments site is changed.

[2017-03-22 02:26] #150 closed, assigned to nobody

[2017-03-22 02:30] mdye opened #200 "Refine behavior for when an instruments site is changed"
This is a spin-off issue from #150.

Charlie had commented:
Similary, if the site is changed for an instrument, the existing site, inst and var tags for existing values will remain unchanged.

Is this the desired behavior?"

We should decide what is the most reasonable behavior when a user changes the site for an existing instrument. I see the following possibilities:
1) Delete all data for that i

[2017-03-22 02:32] mdye commented on #136
Hi Charlie,

I'm under the impression you're implementing a fix for dealing with the error that arises due to the image encoding.

Let me know if this is an improper assumtion. :)

[2017-03-22 03:02] MisterMartin commented on #136
That's right, I'll work on that.

On Tue, Mar 21, 2017 at 8:32 PM Mike Dye <notifications@github.com> wrote:

[2017-03-23 17:26] mdye opened #201 "Change multivariable graph so that only the first variable is plotted by default"
This should help reduce some of the clutter with the multi-variable plots.

Users can still click on variable names below the plots in order to display simultaneous graphs.

[2017-03-23 20:19] mdye commented on #201
done, merged into development

[2017-03-23 20:19] #201 closed, assigned to mdye

[2017-03-23 20:20] mdye opened #202 "Set # of unicorn workers via environment variable"

[2017-03-23 20:24] MisterMartin commented on #163
These appear of the instrument page. Should these also be on the Data page?

[2017-03-23 20:55] MisterMartin opened #203 "Instrument live display Y axis ranges and hover text"
Y axis min/max for all variables in the live display are all set to the value of the first variable (but only if it has been specified for that variable). These same limits will show up even if the variable is not selected for display. Axis limits for variables other than the first one are not honored.

The hover display shows the data value for only the first variable, no matter which variables a

[2017-03-23 21:53] mdye commented on #202
This had already been implemented by Charlie.

[2017-03-23 21:53] #202 closed, assigned to mdye

[2017-03-23 23:06] mdye commented on #163
Excellent point Charlie.  Links have been added to the data page.

[2017-03-23 23:06] #163 closed, assigned to nobody

[2017-03-27 17:09] mdye opened #204 "Clean up instrument page format"
There are several aspects of the UX that are in desperate need of improvement:

- Editing a variable min/max pushes the entire variables div down the page
- The title, description, etc. about the instrument could be presented in a more friendly as well as compact

[2017-03-28 23:13] mdye commented on #203
A fix for this is in place and has been merged with the development branch.

It should be noted that highcharts has some dynamic scaling features which, while useful, make it difficult to control the /exact/ min/max on the graphs, particularly with a mutilvariable plot.

[2017-03-28 23:13] #203 closed, assigned to nobody

[2017-03-29 23:34] ryangooch opened #205 "Add hail stations in DFW to dedicated portal"

[2017-03-30 18:55] #205 closed, assigned to ryangooch

[2017-04-03 19:25] daniels303 commented on #139
Two candidates, Terre Yang (terrieyang@berkeley.edu) and Cole Tomlinson (cmt218@lehigh.edu) were selected. Mike Dye prepared a Google Doc to describe the timeline for these interns:

https://docs.google.com/spreadsheets/d/1fs3-ORH9d8FORfhs1pQXwHypWlHJbXS7MW8vKd_3zhc/edit?ts=58bdd5c9#gid=0

[2017-04-03 19:25] #139 closed, assigned to nobody

[2017-04-03 23:05] mdye commented on #204
Instrument page cleaned up. A similarstyle should likely be implemented on other pages as well!

[2017-04-03 23:05] #204 closed, assigned to nobody

[2017-04-03 23:07] mdye commented on #136
Right now the users are not exported/imported.  This was done intentionally, so as not to overwrite user data for the current session, but I think now that user *should* be exported/imported... This will make moving a site configuration that much easier.

[2017-04-04 16:43] daniels303 commented on #162
Since each portal's DOI will refer to the DOI of the CHORDS software itself, a Google Doc describing the fields of a CHORDS software DOI has been created here:

https://docs.google.com/document/d/1PLECrsTavmM7XbhwuIgtq6tjgbpKxC5BfusbeepV_6Q/edit

[2017-04-04 19:48] daniels303 commented on #162
The CHORDS DOI has been minted! http://dx.doi.org/10.5065/D6V1236Q

[2017-04-05 20:31] #199 closed, assigned to daniels303

[2017-04-05 21:48] daniels303 commented on #162
A DOI for the TZVOLCANO portal has been minted:

http://dx.doi.org/10.5065/D6P849BM

The DataCite metadata will need to be updated to include information that was not known at the time of the DOI creation. The citation, described at [http://tzvolcano.chordsrt.com/about] (http://tzvolcano.chordsrt.com/about),  also needs to have the date of access added to it. I could not due this due to the charac

[2017-04-05 21:51] daniels303 opened #206 "Create a way to dynamically display the content of the CHORDS Portal DOI metadata on its landing page."
Need additional text length in order to add DOI information, the current length limit is too short.

[2017-04-05 22:09] daniels303 opened #207 "Add DOI reference and NSF acknowledgements to the portal "About" tabs"
Modify the text of the CHORDS description in each Portal's "About tab" to include this text (note that this text has Markdown styling embedded in it):

## Citing CHORDS and Sponsor Acknowledgements

CHORDS has been issued a Digital Object Identifier (DOI) from DataCite.org

We request that researchers cite its use in any relevant publication or other context using this format:

<div class="well" s

[2017-04-06 13:31] #162 closed, assigned to daniels303, intRobyn

[2017-04-06 14:08] MisterMartin opened #208 "Enable Grafana anonymous login"
During portal startup. Done via environment variables in docker-compose.yml. Will open as the Main Org. organization.

[2017-04-06 14:51] MisterMartin commented on #206
Is it the size of the text box, or the actual database field size? The latter is limited to 65535 right now, but it would be easy to increase it.

But, perhaps we should have a separate DOI field, or even DOI URL and DOI description fields?

[2017-04-06 15:03] MisterMartin commented on #208
Completed in 30b2d57.

[2017-04-06 15:03] #208 closed, assigned to MisterMartin

[2017-04-06 15:08] daniels303 commented on #206
I am not sure where the limitation is, but my guess is that it is the database field size since I will receive an error if I enter much more than the current 966 characters. For example, I wanted to add a last sentence to the TZVOLCANO citation to indicate the date that data were accessed on. Entering even the text "Accessed on" to the Project Description box created this error when I pressed the

[2017-04-06 16:09] MisterMartin commented on #207
Completed in 80302f0fd4375efb3e6a1922046bff63c0ca444e.

[2017-04-06 16:09] #207 closed, assigned to MisterMartin

[2017-04-07 13:54] MisterMartin opened #209 "Include disclaimer text in data downloads"
Add field(s) to the configuration which specify ancillary information that could be added to downloaded data files.

How this is incorporated would depend on the file format. Some file formats may already have provisions for this. Others such as CSV do not have any standards.

It might be optional for the client making the download request. I.e., if a checkbox enabled it then the text would be inc

[2017-04-07 17:43] daniels303 commented on #179
Ken's working document for this is here:

https://docs.google.com/document/d/1uOaZk-GsPwENkmudGj-Nf4euGNccDd1KAVCGHw4Em1g/edit#heading=h.hxkn75zoxt8

[2017-04-10 21:29] daniels303 commented on #206
Charlie and I discussed the idea of accessing the DataCite Metadata for CHORDS DOIs via a REST/JSON API and then formatting this Metadata to look reasonable on the landing page hosted by the Portal instance. It turns out that DataCite does allow such access, see here:

https://api.datacite.org/

and see https://api.datacite.org/works/10.5065/D6P849BM for example.

[2017-04-14 15:14] MisterMartin opened #210 "Password field in .env is not working"
This does not set the portal admin password when CHORDS is initially started.

However, it does seem to be setting the influxdb password.

[2017-04-15 19:21] dsarahstamps opened #211 "Unable to load page"
I have tried loading tzvolcano.chordsrt.com on 3 different networks and with 3 different browsers. In all cases I get  "We're sorry, but something went wrong." Any suggestions or comments?

[2017-04-15 22:08] MisterMartin commented on #211
It is back running again.

The AWS instance had run out of disk space. In that state it was not possible to run any commands, so I increased the disk space. This allowed me to restart the portal.

However, restarting the docker containers returned the disk space, and so I'm not able to determine where it was being used. I suspect that there is logging enabled somewhere; quite likely for influxdb.

[2017-04-15 22:08] #211 closed, assigned to nobody

[2017-04-15 22:12] MisterMartin opened #212 "Disk usage is growing unexpectedly"
See #211.

The tzvolcano portal ran out of disk space. This caused the system to stop working. When I logged in, I was able to list the docker log for chords_influxdb, and it seemed to show the data inserts for all of the measurements. I suspect this is where the problem is located.

We can verify this by checking other chords_influxdb containers. Probably all that is needed is to disable query lo

[2017-04-15 22:19] erikj commented on #212
Probably better to look into log rotation, e.g. w/ logrotate.d, which can
also address future logging issues.

On Sat, Apr 15, 2017 at 16:12 Charlie Martin <notifications@github.com>
wrote:

[2017-04-15 22:28] MisterMartin commented on #212
docker logs shows the following:
[code]
It's a stock influxdb container. Where do I apply log rotation for this?

[2017-04-15 22:44] erikj commented on #212
Docker has several logging drivers, e.g. journald, so it depends on how the
Linux distribution's Docker package configures logging.

On Sat, Apr 15, 2017 at 16:28 Charlie Martin <notifications@github.com>
wrote:

[2017-04-15 22:48] erikj commented on #212
Note also that sys-admin 101 generally prescribes putting the logged-to
directory, usually /var/log on a separate  partition or volume from '/', to
avoid blowing up the OS when logging fills up.

On Sat, Apr 15, 2017 at 16:43 Erik Johnson <erik@erikj.me> wrote:

[2017-04-17 16:02] daniels303 opened #213 "Can we remove old AWS tzvolcano instance now?"

[2017-04-17 19:56] MisterMartin commented on #212
Fixed in aec8a84b611705221d197d0b5b196750a8b03ace by enabling log rotation for the docker containers.

[2017-04-17 19:56] #212 closed, assigned to MisterMartin

[2017-04-25 14:54] daniels303 opened #214 "Remove old JSON export in favor of GeoJSON"
At the CHORDS telecon on April 21, I asked if anybody would be impacted by the removal of the version 1 CHORDS JSON export feature in favor of the new GeoJSON export. I also checked to see if Paul Kucera was using this. Nobody on the team objected to this removal, so let's go ahead and proceed with this.

[2017-04-27 22:17] MisterMartin opened #215 "Why is storage being reported as unknown?"
The storage badge on http://portal.chordsrt.com/dashboard is reporting "unknown MB". This behavior began after the portal was migrated from AWS to the NCAR/EOL virtual machine.

[2017-04-27 22:22] MisterMartin commented on #215
Looking at production.log on chords_app, this is the query that is being sent to influxdb:
[code]
There are no error messages associated with the query.

[2017-04-28 20:41] daniels303 commented on #160
As part of Branko's workshop, we will need to have something in place to connect real-time CHORDS streams to archiving services at CUAHSI.

[2017-05-02 17:03] MisterMartin opened #216 "Are we using the correct docker storage device?"
While monitoring disk space usage, I'm comparing our docker installations on AWS (AWS Linux) and on our EOL virtual machine (Centos 7). I noticed that the storage drivers are different, probably as an artifact of the default installation. This is what I find from 'docker info':

AWS:
[code]

EOL:
[code]

Docker recommends against using the devicemapper method for [production](https://docs.docker.c

[2017-05-02 18:53] erikj commented on #216
If AWS Linux AMI is still based on RHEL 6 and you want to use recent Docker features, then definitely.

Ubuntu recently launched kernel improvements for running on AWS, which should make it comparable to AWS Linux AMI.

https://insights.ubuntu.com/2017/04/05/ubuntu-on-aws-gets-serious-performance-boost-with-aws-tuned-kernel/

[2017-05-02 19:26] MisterMartin commented on #216
AWS Linux was initially based on RHEL 6, and at one time apparently had the goal of remaining roughly compatible with RHEL 6. Over the years it's hard to say if that remains true, and there are postings about difficulties with package compatibility. It really seems like AWS Linux is now it's own very independent distribution. For instance, AWS Linux is running Linux Kernel 4.4, but Centos 7.3 is u

[2017-05-02 19:26] #216 closed, assigned to nobody

[2017-05-02 21:13] erikj commented on #216
And, of course, the logical-conclusion OS, if CHORDS is all-in on Docker, would be CoreOS' Container Linux, which has a minimal surface and is intended for only running containers.

https://blog.codeship.com/container-os-comparison/

[2017-05-02 22:58] MisterMartin commented on #215
Corrected in cb98f3a197a569347e81a2af6338b1c66bd99c83.

[2017-05-02 22:58] #215 closed, assigned to nobody

[2017-05-10 20:26] mdye opened #217 "Incorrect timestamp being saved in database"
From Dennis Litttle:
"I'm populating CHORDS with past data, which should be easy using curl.  It appears to be going in just fine but it's messing with the date/time in the AT statement.  As an example, here's one line I've pushed in

curl --silent "https://chords-devl.lanl.gov/measurements/url_create?instrument_id=15&spd1=3.3&spd2=4.4&spd3=5.1&sdspd1=0.6&sdspd2=0.4&sdspd3=0.4&dir1=269&dir2=262&di

[2017-05-16 17:21] mdye opened #218 "Implement auto updating of portals with watchtower"

[2017-05-16 18:47] mdbartos opened #219 "Using Kapacitor to auto-populate metadata"
This guide shows how to set up an output from Kapacitor to an arbitrary endpoint (in this case, an in-house database):

https://docs.influxdata.com/kapacitor/v1.2/about_the_project/custom_output/

This means that you could potentially use Kapacitor to detect any changes in an influxDB database on-the-fly, then automatically propagate any changes in metadata to the MySQL database (thereby maintaini

[2017-05-16 18:50] mdbartos commented on #217
This was probably noticed already but note that the UNIX timestamp between these dates is off by a factor of ten:

[code]

[2017-05-16 19:17] mdye commented on #217
Hi Matt,

Thank you for reporting this.  We are aware of this bug and I'm working on a fix.

Out of curiosity, how dod you stumble on this bug?  Are you loading CHORDS with older datasets?

Thanks,
Mike

[2017-05-17 21:06] mdye opened #220 "Delete http://yellowstone.chordsrt.com/ instance?"
There is no configuration nor data for this portal.  Is there any reason to keep it running and active?

[2017-05-18 16:57] lanl-dlittle opened #221 "Feature Request: Date picker for data fetch"
At present, to fetch data for a period of time, you have to use the calendar picker.  While there is a hidden button for traversing one month at a time, there is no way to specify a date in any other way.

Please add ability for a user to have pull-downs for year/month/day as an option so that if they want data from 10 years ago (or longer -- I have one tower that dates to 1910), they can enter th

[2017-05-19 16:31] lanl-dlittle commented on #88
FYI: Government installations also require a license if highcharts is used but per their FAQ, only for production.  See the heading "How do you define an installation?" under https://shop.highsoft.com/faq

[2017-05-20 04:09] MisterMartin commented on #221
The missing month button is due to a bug in the rails resource compiling. I'll create a separate issue for that.

[2017-05-20 04:12] MisterMartin opened #222 "Date picker month navigation buttons are missing images"
An error message related to the images for the forward/back buttons is generated during the rake resource precompilation.

[2017-05-22 17:08] mdye opened #223 "SUPER Project: CSS and HTML cleanup"
CSS and HTML cleanup (e.g. chordsrt.com * web pages served by the portal)

[2017-05-22 17:09] mdye opened #224 "SUPER Project: Implementing Additional Ontologies"
Implementing additional Ontologies that describe observable properties into the CHORDS database.

[2017-05-22 17:09] mdye opened #225 "SUPER Project: Link data streams to archive systems"
Links of data streams to archive systems. This feature would allow the automatic bundling and delivery of real-time data to a specified archive. The archive selected would be based on the type of data being sampled (e.g. NCAR for atmospheric data, CUAHSI for hydrology data, UNAVCO for geodesy data).

[2017-05-22 17:10] mdye opened #226 "SUPER Project: Test high bandwidth data streaming"
Test high bandwidth data streaming to CHORDS to find out the portal’s limitations. Write a script that is able to receive as input the instrument ID and populate the database with an arbitrary number of points.

[2017-05-22 17:10] mdye opened #227 "SUPER Project: Implement event notifiers and triggers"
Event notifiers, triggered by data going outside of a range of values or exceeding a range from the prior point. This would be user configurable in the portal and the notification would occur by emails, texts, and/or visual indicators on the portal itself.

[2017-05-22 17:11] mdye opened #228 "SUPER Project: Implement user-configurable plotting"
User-configurable plotting. This feature would allow more flexibility in the plotting of real-time data to all, for example, multiple traces on a single x-y plot, plot of one variable versus another or the like.

[2017-05-22 17:12] mdye opened #229 "SUPER Project: Create portal monitoring system"
Create a system to automatically monitor and track existing CHORDS portals.

[2017-05-22 23:35] MisterMartin commented on #220
Deleted.

[2017-05-22 23:35] #220 closed, assigned to nobody

[2017-05-24 19:44] mdye opened #230 "Ask for users permission to store cookies"
EU-targeted CHORDS portals will need to comply with the "Cookie Law"

https://www.cookielaw.org/the-cookie-law/

[2017-05-25 23:39] MisterMartin opened #231 "nginx access.log is growing uncontrollably"
I logged into tzvolcano, and saw that it was still gradually using up disk space. df showed 13GB used, which is unreasonable for this instance. I tracked this down to the nginx log file _/var/log/nginx/access.log_ (in container chords_app). Turns out that nginx was logging each server query, and the log file had grown to 8GB.

You can get nginx to reopen logfiles by signaling it with USR1. So I re

[2017-05-25 23:47] MisterMartin opened #232 "Reclaiming disk space in a docker container"
Ref: #231.

When a file is removed from within a docker container, the disk space does not necessarily get returned to file system. An **fstrim** can be used to reclaim this space. See the section **Reclaim some diskspace** in  http://burhan.io/docker-hacks-for-production/

I successfully used this method  to manually reclaim significant space on the tzvolcano instance.

We need to find a method t

[2017-05-31 16:32] mdye opened #233 "Intermittent MySQL error: Got an error reading communication packets"
During docker container startup, MySQL will occasionally give the error:

`mysql_1     | 2017-05-31T16:28:55.725431Z 4 [Note] Aborted connection 4 to db: 'chords_demo_development' user: 'chords_demo_user' host: '172.18.0.6' (Got an error reading communication packets)`

This does not prevent the portal for starting, but should be looked in to at some point.

[2017-05-31 16:33] mdye commented on #233
Relevant post:
https://www.percona.com/blog/2016/05/16/mysql-got-an-error-reading-communication-packet-errors/

[2017-05-31 18:18] ryangooch opened #234 "CSU-Hail Error when Attempting to Destroy Site"
Steps to reproduce: navigate to Sites page, click 'Destroy' button.

Error: "We're sorry, but something went wrong. If you are the application owner check the logs for more information."

[2017-05-31 18:21] ryangooch commented on #234
I just realized this may have been addressed in the next release: #150. I'm closing assuming that's the case

[2017-05-31 18:21] #234 closed, assigned to nobody

[2017-05-31 20:18] mdye opened #235 "Add DOI field to portal configuration"

[2017-05-31 21:17] #235 closed, assigned to terrieyang

[2017-05-31 21:45] mdye opened #236 "Write rails code to download DOI metadata"

[2017-05-31 21:49] mdye commented on #236
The basic idea here is to write some ruby code that retrieves metadata for a DOI from https://data.datacite.org

parameters: a DOI
returns: the DOI metadata in JSON format

An example of this is https://data.datacite.org/application/vnd.datacite.datacite+json/10.5065/D6P849BM

API Documentation: https://api.datacite.org/

Also, see issue #206

[2017-05-31 21:51] mdye opened #237 "Store retrieved DOI metadata in the portal configuration profile"
Create one (or perhaps multiple) fields in the profiles model/table to store the retrieved DOI JSON metadata.

[2017-05-31 21:56] mdye opened #238 "Add dynamically generated DOI text to CHORDS portal"
Generate and display HTML based on the DOI and DOI metadata stored in the portal configuration.

This should be displayed on the "About" page and possibly on all portal pages.

(Decision on the exact placement is pending)

[2017-05-31 22:20] mdye opened #239 "Add ability for the DOI metadata to automatically refresh itself daily"
Via cron job (or something similar) retrieve and update the locally cached DOI metadata daily.

[2017-06-01 18:46] MisterMartin opened #240 "About page crashes if accessed before DOI is entered in configuration"
I upgraded to the new code containing the DOI in the database. I browsed straight to the about/ page, and it crashed. I then went to the configuration page and added a DOI value, and when I went back to the about/ page, it rendered correctly.

Perhaps the migration needs to specify a default value?

[2017-06-01 19:02] MisterMartin commented on #240
But I tried this on a different system, and it worked ok. Go figure. Let's keep an eye on this, and if it doesn't turn up again, close this issue.

[2017-06-01 19:11] mdye commented on #240
This may have been caused by a discrepancy between the local codebase
(possibly the schema.rb) and the dockerhub image.

I saw a similar problem yesterday, but it disappeared after a fresh
docker-compose pull.

On Thu, Jun 1, 2017 at 1:02 PM, Charlie Martin <notifications@github.com>
wrote:

[2017-06-01 20:29] mdye commented on #236
A formatted citation can be generated with the following query:

`curl -LH "Accept: text/x-bibliography; style=apa" https://doi.org/10.1126/science.169.3946.635`

This is documented in section 4.1 here: http://citation.crosscite.org/docs.html

[2017-06-01 20:35] daniels303 commented on #236
^ be aware that there are many formats for citations. The one I used in the "About" page has been recommended by ESIP and has also been adopted by EOL.

[2017-06-01 20:40] mdye commented on #236
Agreed Mike!

This format (APA) is also the way that EOL has adopted.

[2017-06-02 00:49] ryangooch opened #241 "Portal crashes when importing config file (Development)"
After clicking "Import" to import a configuration file that I generated (using an exported configuration file as a template), the portal throws the following error:

The portal configuration file seems to be the correct format, since about 20 instruments are configured correctly, while the rest have been generated but only assigned names, not variables. It appears that it was working properly, the

[2017-06-02 00:54] ryangooch commented on #241
The import config file can be viewed [here](https://gist.github.com/ryangooch/c590bd93d5b7f1771b3a8341a2057df6) if needed

[2017-06-06 13:48] MisterMartin commented on #146
The deployment/configuration/control script is now available in a python [script](https://github.com/NCAR/chords/blob/master/chords_control).

[2017-06-06 14:05] MisterMartin opened #242 "Improvements to chords_control"
1. Verify that docker-compose.yml exists in the working directory (and docker-compose-dev.yml for --devmode). If not, suggest that the user has the wrong working directory, and quit.

2. Add comment to the parseargs description that tells the use that backup copies will be made of the configuration and _.env_ files.

3. Fetch the list of available releases from dockerhub, and display for the user.

[2017-06-06 16:21] MisterMartin commented on #242
#3 completed in 59dd3fc.

[2017-06-07 00:12] MisterMartin commented on #242
Completed in 65dcde6.

[2017-06-07 00:12] #242 closed, assigned to MisterMartin

[2017-06-07 00:40] MisterMartin commented on #146
Completed in release 0.9.0-beta3.

[2017-06-07 00:40] #146 closed, assigned to MisterMartin

[2017-06-07 22:02] mdye opened #243 "Investigate re3data"
http://www.re3data.org/

.. and look at other alternatives for possible places that a portal could register itself to improve discoverability

[2017-06-08 21:38] mdye opened #244 "Add gml tag to XML schema in generated SensorML"
See lines 7-11 in https://xdomes.org/srr/sensorML/urn-whoi-mvco-mvco_workhorse_1200.xml

[2017-06-08 21:49] MisterMartin opened #245 "Update rpi-chords"
Bring rpi-chords forward so that it can be released with 0.9.0.

The biggest challenge may be in finding a compatible rpi postfix (which isn't used in the most recent rpi-chords).

[2017-06-12 16:27] daniels303 opened #246 "Layout a cohesive structure for CHORDS documentation"
We currently have a few places where documentation about CHORDS lives. For example, I frequently give out the chordsrt.com web site to people who are new to CHORDS to help them get started. It seems to also make sense to have this site point to other user documentation to help get them started with their own instance. We need to decide on the best approach to this so that the organization of the d

[2017-06-12 16:32] daniels303 opened #247 "SUPER Project: Update chordsrt.com documentation to include configuration using chords_control"
The chordsrt.com documentation site needs to be updated to include instance configuration using Charlie's new chords_control script. See https://github.com/NCAR/chords/wiki/Running-CHORDS

[2017-06-12 19:08] ryangooch commented on #241
Based on conversation with @mdye last week, it appeared that the import config only crashed when data was already present in a portal. I completely removed and re-installed CHORDS on my machine, however, and it continues to break in the same way mentioned above.

[2017-06-12 20:18] MisterMartin commented on #241
I was able to import this configuration, see attached image.

When you removed CHORDS from your system, don't forget to remove the docker volumes containing the databases:
[code]

If you have done this and it still crashes, then let's look at the log file during the import. Get CHORDS running, and then monitor the Rails log file while you are doing the imnport:
[code]

![screen shot 2017-06-12 at

[2017-06-12 21:21] ryangooch commented on #241
Thanks for the response.

So, I believe I've been fully deleting the Docker images/volumes/etc correctly. I just did it again, monitoring the Rails log file as suggested, and it works, until it just doesn't. There's no error message thrown in the log file, but I get a "This page isn't working. localhost unexpectedly closed the connection. ERR_CONTENT_LENGTH_MISMATCH" error in browser after a minut

[2017-06-12 21:42] ryangooch commented on #241
I was looking at other logs while doing this process and I found an error thrown at the time the import crashes in /var/log/nginx/error.log.

The exact wording:

```2017/06/12 21:39:56 [error] 27#0: *356 upstream timed out (110: Connection timed out) while reading response header from upstream, client: 172.19.0.1, server: localhost, request: "POST /profiles/import_configuration HTTP/1.1", upstream

[2017-06-13 14:26] MisterMartin commented on #241
Good sleuthing! Pretty sure it is saying that the configuration import is going slowly in Rails.

Here is a short article about [nginx 110 timeout errors](https://distinctplace.com/2017/04/22/nginx-upstream-timed-out/). The recommended solution is to optimize the Rails action that is going slowly. We should take a close look at the configuration import code.

What kind of machine are you running t

[2017-06-13 15:02] MisterMartin opened #248 "Design for large numbers of instruments/variables"
When the portal is configured for a large number of instruments, the dashboard becomes unusable. Likewise, when there are a large number of variables, the time series axis labelling ruins the presentation. See attached.

How should we approach this?

Some ideas:
- Use some sort of drill down selector on the dashboard, to organize the instruments into groups (of 10, etc). If any one of the instrume

[2017-06-13 16:29] dsarahstamps opened #249 "Unable to get mapping for AWSRegionArch2AMI::us-east-2:PV64"
Hello,

When testing the installation of a chords portal with a colleague at the University of Costa Rica we've encountered the following error:

Template validation error: Template error: Unable to get mapping for AWSRegionArch2AMI::us-east-2::PV64

A screenshot of the error message is attached for reference.

Do you have any comments or suggestions?

![error_chords_aws](https://user-images.githu

[2017-06-13 17:57] ryangooch commented on #241
Thanks for the response!

I'm running this on Linux (Mint 18). Interestingly, when I tried it in a virtual machine with a fresh Linux Mint 18 install it worked perfectly. While this may still be a deeper issue, would you let me know if my process for completely removing all traces of the Docker CHORDS information is correct?

1. Bring the CHORDS containers down
```$ docker-compose -p chords down``

[2017-06-13 18:04] mdye commented on #241
All those steps are correct.

You should probably also remove all the containers before removing the images :

`docker rm $(docker ps -qa)`

[2017-06-13 18:06] mdye commented on #249
The AWS template must be missing a configuration section for the us-east-2 region.  I'll add one in ASAP.

[2017-06-13 18:22] mdye commented on #249
As a temporary workaround, you could create the CHORDS instance in a different AWS region, either US East (N. Virginia) or US West (Oregon) should work as expected.

![screen shot 2017-06-13 at 12 21 31 pm](https://user-images.githubusercontent.com/270551/27097901-01c525b6-5033-11e7-8ccb-0ced3022b770.png)

[2017-06-13 19:20] MisterMartin commented on #241
My intuition still tells me that it is a mysql performance problem. When you watched production.log, you should see the mysql transactions scrolling by quite quickly.

When we saw a similar problem on the mac-mini, the transactions appeared every few seconds, and some even seemed to be dropped. One difference was that the problem showed up when seeding the mysql database with the ontology. But bot

[2017-06-13 20:39] mdye commented on #249
The AWS template has been updated to support the us-east-2 region. Give it another try and let me know if it still throws an error!

[2017-06-13 20:39] #249 closed, assigned to nobody

[2017-06-14 00:16] MisterMartin commented on #245
chords_control is now working on rpi, as of 337b15921750e51c26060bd3e426201b80b2bac8.

However, there are currently two problems:
 - The postfix mta (fduarte42/rpi-postfix) just exits immediately after it is started. It is running a
    script /start.sh, but that just ends. Suspect that some sort of configuration is needed. But
   fduarte42/rpi-postfix has zero/zilch documentation.
- Visualization

[2017-06-14 17:35] terrieyang commented on #247
Added Option 2 for portal creation
 http://ncar.github.io/chords/gettingstarted.html

[2017-06-14 17:35] #247 closed, assigned to nobody

[2017-06-14 17:36] mdye opened #250 "Modify sensorml output to include GML fields"
Duplicate of #244

[2017-06-14 17:44] mdye commented on #244
Using this [sensorml as an example](https://xdomes.org/srr/sensorML/urn-whoi-mvco-mvco_workhorse_1200.xml), modify the portals sensorml to include a<gml></gml> tag with the following fields:

- instrument description: The instrument description
- instrument identifier:  This is the full URL to the instrument. e.g http://portal.chordsrt.com/instruments/1
- instrument name: the instrument name

The

[2017-06-14 17:51] #250 closed, assigned to nobody

[2017-06-14 18:10] lanl-dlittle commented on #248
FWIW: I have this same issue.

I have data from 6 active towers every 15 minutes, 8 active towers every 24 hours and 7 inactive towers for both 15 minute and 24 hour data.  Since I want to show the long/lat/elevation correctly, I have to set each of these up as a site for a total of 28 sites.

I have some sites that collect only precipitation but I also have sites that collect as many as 40 measur

[2017-06-14 21:49] mdye opened #251 "Add a "Topic Category" controlled vocabulary"
Based on the [CUASHI controlled vocabulary](
), create a model/view/controller for "Topic Categories" than will be associated with each instrument to enhance it's metadata.

[2017-06-16 16:45] #236 closed, assigned to terrieyang

[2017-06-16 16:46] #244 closed, assigned to terrieyang

[2017-06-17 02:43] MisterMartin commented on #245
Fixed the admin login by removing the chords_grafana-data docker volume, and changing the rpi-grafana image.

[2017-06-19 04:02] mdye commented on #251
I founds an online tool for making the SOAP request:
http://www.soapclient.com/soaptest.html

If you use the WSDL file address:  http://his.cuahsi.org/odmcv_1_1/odmcv_1_1.asmx?WSDL
and click "Retrieve"
You can select from any of the controlled vocabularies, and return an SOAP (XML) response that contains the entire list of Topic Categories.

[2017-06-19 04:03] mdye commented on #251
Here's an XML file containing the Topic Categories.
[topic_categories.xml.txt](https://github.com/NCAR/chords/files/1083774/topic_categories.xml.txt)

[2017-06-19 15:38] mdye opened #252 "Set up hydroserver lite server in docker"
https://hydroserverlite.codeplex.com/

[2017-06-19 15:42] mdye opened #253 "investigate odm2 controlled vocabulary"
As per Martin recommendation, take a look at the [ODM2 controlled vocabularies](http://vocabulary.odm2.org) as an alternative to the CUAHSI vocabularies. Martin says they are more comprehensive and would be better to use in the long run.

Main site

[Github](https://github.com/ODM2/ODM2ControlledVocabularies)

[2017-06-19 15:44] mdye opened #254 "Gain access to a hydroserver DB"
A request has been submitted to have a hydroserver DB created for testing the CHORDS portal.

This DB would be used in the case that hydroserver lite does not meet the archiving  requirements.

[2017-06-19 15:45] mdye opened #255 "Test hydroserver lite hosted by CUAHSI once it is set up"

[2017-06-19 15:46] mdye commented on #251
See issue #253 regarding the ODM2 vocabulary.

[2017-06-19 15:55] mdye commented on #254
A request for a hydroserver was submitted here: hydroserver.cuahsi.org

[2017-06-19 16:46] mdye commented on #200
If a site is deleted, it will delete all data associated with that site.  No action is taken if an instrument is moved from one site to another.

[2017-06-19 16:46] #200 closed, assigned to nobody

[2017-06-19 16:47] mdye commented on #136
Backup and restore functionality now exists for bot the portal configuration as well as influxdb data

[2017-06-19 17:05] MisterMartin opened #256 "Export influxdb function crashes (development)"
Code head af91b4e. Mashed the _Export InfluxDB Data_ button. Rails error resulted, with the following log entry:
[code]

[2017-06-19 17:48] mdye commented on #256
Taking a look.

[2017-06-19 19:13] MisterMartin opened #257 "chords_control should handle proxy servers"
Email from Dennis Little (6/19/2017):

----
Hi guys,

This should most likely go to Charlie Martin but I can’t find his direct email address.

I just downloaded the chords_control part and very quickly ran into an issue.  Below is the output…
[code]

It didn’t take long to figure out what the problem most likely is – we use a proxy server.  I’m going through the code now to find all the places I n

[2017-06-19 19:39] MisterMartin commented on #257
Opps, comment added to wrong issue.

[2017-06-19 19:41] MisterMartin commented on #256
Note that the database name depends on the rails mode. Hardwired as 'chords_ts_development' will not work when in production mode:
[code]

[2017-06-19 20:07] mdye commented on #256
I made a few changes and the portal should no longer crash when not in dev
mode.

I also made the database name dependent on the rails environment - it is
not hardwired now.

Give it another shot Charlie and let me know what else need to be changed.

On Mon, Jun 19, 2017 at 1:41 PM, Charlie Martin <notifications@github.com>
wrote:

[2017-06-19 20:22] MisterMartin commented on #256
I'm now able to export/import influxdb.

I actually forgot to export the configuration before I killed all of my docker volumes, which made portal restoration impossible. I wonder if the export function should just do both things. Pros/Cons?

The guest account access now fails for grafana, when setting up a datasource. I see
that INFLUXDB_USERNAME and INFLUXDB_PASSWORD were added to docker-compos.

[2017-06-19 21:02] mdye commented on #256
To eliminate a possibility, I removed the  INFLUXDB_USERNAME and INFLUXDB_PASSWORD environment variable definitions from the grafana section of the docker-compose.yml file. After doing this and restarting the containers, Grafana exhibited the same error.

Footnote: Previously when adding a data source in Grafana I'd been using the admin username/password.

[2017-06-19 21:27] MisterMartin commented on #256
I've found that this problem was actually
[introduced in grafana 4.3.1](https://github.com/grafana/grafana/issues/8481), where it exploits
a problem in Influxdb. The influxdb problem is supposed to be fixed in influxdb:1.3.

I actually had to back up to Grafana 4.2.0 to get the guest login working. We will revert to 4.2.0 (or earlier), until influxdb is fixed.

[2017-06-19 21:27] lanl-dlittle opened #258 "Feature: Faster import existing data"
While cURL is great for populating individual measurements, it would be nice to have a faster way to import existing data.  On the Linux box I have CHORDS running, it imports at about 3-4 cURL calls per second with 2 data values.  Unfortunately, I have about 7 million cURL calls to make and they range anywhere from 2 to 40 data values per call.

[2017-06-19 21:30] MisterMartin commented on #256
Influxdb export/import fixed as of 89d7509527de37bc46c05dcaafd6b67b79c8e2cb.

[2017-06-19 21:44] MisterMartin commented on #258
I think the "Import Influxdb" feature will be just the ticket for this. It will mean creating the file in the influxdb "line" format. Exporting an existing influxdb database, and looking at the file will provide the syntax. It is very straightforward.

[2017-06-19 22:26] MisterMartin commented on #136
Completed with release 0.9.0.

[2017-06-19 22:26] #136 closed, assigned to nobody

[2017-06-19 22:42] MisterMartin commented on #258
FYI, this is what the unzipped influxdb line file looks like. The inst, site and var values can be found on the CHORDS Instruments page (Toggle Details):
[code]

Note that it doesn't hurt to import the same data multiple times. Data for existing timetags just gets replaced.

[2017-06-19 22:49] MisterMartin commented on #257
Update from Dennis:

---
In our case, the use of the proxy is easy although I must still be missing something since I’m still getting the same errors.  Just as an example, here’s the syntax I have to use to get the .yml file with the change highlighted.  Essentially, anything pulling something in has to use the –x part

               curl -x http://proxyout.lanl.gov:8080 -L https://github.com/NCA

[2017-06-19 22:54] lanl-dlittle commented on #258
Hi Charlie,

This helps with one minor hiccup.  I assume the last value is a date/time but not sure what the format of it is.  Do you have any details on the date/time tag?

Side note on the replacement of values – you just answered one of my questions but also added a feature request.  All my local contacts are gone so I hope I can make this make sense.  The Meteorologist and Data Steward need th

[2017-06-20 13:51] MisterMartin commented on #258
The time stamp is in unix time, in nanoseconds. The line protocol is described in the [influxdb write protocol documentation](https://docs.influxdata.com/influxdb/v1.2/write_protocols/line_protocol_tutorial/).

For the data quality indicator, I would just add a new variable(s) as needed. You will want to add them first to your CHORDS configuration, so that you can determine what the var id will be

[2017-06-20 16:47] mdye opened #259 "Create an output format in CHORDS that matches what CUASHI expects"
Following the [CUAHSI documentation](https://www.cuahsi.org/data-models/publication/), make necessary changes and additions to the output of CHORDS so data can be transmitted to a CUAHSI archive once set up.

Of particular note in the documentation is the "Time Series Data" tab, with links to a [template](https://www.cuahsi.org/uploads/pages/img/ODM_Guide_2017.xlsx), the [controlled vocabulary dat

[2017-06-20 18:20] mdye opened #260 "chords_control should display argument and usage information if not provided any parameters"
One idea for making the chords_control script more user friendly would be to display the --help information if it isn't passed any parameters.

[2017-06-20 20:36] mdye opened #261 "ARPA portal: Migrate to version 0.9"

[2017-06-20 20:37] mdye opened #262 "TZ-VOLCANO portal: Migrate to version 0.9"

[2017-06-20 20:37] mdye opened #263 "3D-ZAMBIA portal: Migrate to version 0.9"

[2017-06-20 20:37] mdye opened #264 "STORM portal: Migrate to version 0.9"

[2017-06-20 20:38] mdye opened #265 "3D portal: Migrate to version 0.9"

[2017-06-20 20:38] mdye opened #266 "CUAHSI portal: Migrate to version 0.9"

[2017-06-20 20:39] mdye opened #267 "3D-KENYA portal: Migrate to version 0.9"

[2017-06-20 21:47] mdye opened #268 "AWS CloudFormation deployment of new portals failing"
The creation of new portals is not currently functional, and return the error: "Failed to receive 1 resource signal(s) within the specified duration" before rolling back.
![screen shot 2017-06-20 at 3 46 12 pm](https://user-images.githubusercontent.com/270551/27357540-cece0a7c-55cf-11e7-971a-84fe65fc716d.png)

[2017-06-21 16:34] #251 closed, assigned to mdye, terrieyang

[2017-06-21 18:23] mdye opened #269 "ability to add arbitrary tag to influxdb"
Implement the ability to tag an instrument with an arbitrary name that is then used as a tag in the influxdb.

Example of tags would be node_id and commit_hash

[2017-06-21 18:42] daniels303 commented on #206
I noticed that the About tab for portal.chordsrt.com (http://portal.chordsrt.com/about) no longer lists the DOI citation under the "Citing CHORDS" heading. The correct citation still exists on the http://ncar.github.io/chords/whatis.html page, though. Can this be fixed?

Thanks,
Mike

[2017-06-21 18:53] terrieyang commented on #206
I don't have access to the portal configuration, but is the DOI set to 10.5065/D6V1236Q?

[2017-06-21 19:40] daniels303 commented on #206
OK, I see this may be a separate issue and so I will create this. Can you tell me where the DOI metadata is appearing now?

[2017-06-21 19:49] terrieyang commented on #206
I think the issue is that the command used to grab the citation is not returning anything.

Here's the curl command (taken from http://citation.crosscite.org/docs.html):
curl -LH "Accept: text/x-bibliography; style=apa" https://doi.org/10.5065/D6V1236Q

The command has worked correctly in the past and still works for DOIs outside of NCAR, which is strange.

[2017-06-21 21:19] mdye opened #270 "Add Terrie to the list of developers working on CHORDS"
Terrie should be added to the list of developers working on CHORDS.

- https://github.com/NCAR/chords/wiki/Stakeholders
- https://www.earthcube.org/group/chords

[2017-06-21 21:21] mdye opened #271 "Edit email address on CHORDS EarthCube site"
The email address  on the [CHORDS EarthCube site](https://www.earthcube.org/group/chords) should be changed to read:

"email chords@ucar.edu to reach the team."

(using the "chords at ucar.edu" pattern is outdated)

[2017-06-22 15:17] daniels303 commented on #271
Fixed.

[2017-06-22 15:17] #271 closed, assigned to daniels303

[2017-06-22 17:15] mdye opened #272 "Update docker.template.yml to reference current AMIs"
The Amazon Linux AMI's referenced in the AWS template are from 2015, and we should update them to the current versions for each region.

Current versions are listed here:
https://aws.amazon.com/amazon-linux-ami/

[2017-06-22 17:16] mdye commented on #268
Looking at the AWS instance logfile yielded the error:
`/dev/fd/10: line 1: /sbin/plymouthd: No such file or directory`

I tracked this down to being a result of docker taking too long to come up.  This problem has been addressed in more current Amazon Linux Images - the current AMIs specified in the docker.template.yml file are from 2015.

I updated the template to use a current AMI for ONLY the

[2017-06-22 17:21] mdye commented on #268
Updating the AMI fixed this error, but CludFormation still fails to bring up a new stack.

Logging in to the failed instance showed that the DOCKER_TAG included in the .env was 'master', and the corresponding dockerhub tag no longer exists.

I'm updating the environment variable generation so that the DOCKER_TAG is set to 'latest'

[2017-06-22 17:39] mdye opened #273 "Remove support for Amazon Linux PV AMI from docker.template.yml"
We should consider removing the PV configuration from the CloudFormation template.

[Current start-of-the-art ](https://aws.amazon.com/amazon-linux-ami/instance-type-matrix/)in a sense makes PV largely irrelevant for our use case.

[More info, and a compelling argument.](https://www.opswat.com/blog/aws-2015-why-you-need-switch-pv-hvm)

Thoughts?

[2017-06-22 18:51] MisterMartin commented on #268
How were you able to log into the failed instance? I've never know how to do this; if I had it would have saved a huge amount of frustration.

[2017-06-22 18:56] MisterMartin commented on #273
Our current selection of instance types in our CloudFormation(CF) template was simply hacked from CF examples available at that time. I agree that we should trim down the number of choices, and I really don't see a reason to have the high end compute instances available either.

[2017-06-22 19:10] mdye commented on #268
I just figured it out myself:

When creating a stack in cloud formation on the second page under the "advanced" tab select "No" under the "Rollback on Failure".
![screen shot 2017-06-22 at 1 07 09 pm](https://user-images.githubusercontent.com/270551/27451315-d7ee0486-574b-11e7-89e1-6bfd2eed6605.png)

After it fails, there will be several messages in the "events" tab on the cloudformation page, one

[2017-06-22 19:54] MisterMartin commented on #268
I've always set "Rollback on failure" to No (the instructions on chordsrt.com also say to do this). But I never realized that you could log into the failed instance. What's the procedure?

[2017-06-22 20:19] mdye commented on #268
Go to the EC2 instances list and see if the instance is running. If not, restart it, and you should be able to ssh in to it.

This assumes the cloud formation made it as far as assigning an EIP.  If it died before that, the only thing I've found in term of diagnostics is to look at the system log, again via the EC2 instance list: Actions -> Instance Settings -> Get System Log

![screen shot 2017-0

[2017-06-22 20:27] mdye commented on #253
It seems that the ODM2 CVs will be a better choice in the long run, and we'll move forward with implementing the vocabularies necessary to provide a complete set of metadata to HydroServer Lite.

[2017-06-22 20:33] mdye opened #274 "Implement controlled vocabulary for "Units""
Create rails functionality to support the  [ODM2 "Units" Vocabulary](http://vocabulary.odm2.org/units/) and link it to the Variables model.

[2017-06-22 20:36] mdye commented on #274
We're currently using the ["Best in Place" editor](https://github.com/bernat/best_in_place) for in place editing. This should come in handy for the Units implementation.

Examples can be found in many of the views, particularly the ones that let you edit an instrument or [variable](https://github.com/NCAR/chords/blob/master/app/views/vars/_bip_form.haml).

[2017-06-23 19:54] mdye opened #275 "Attempting to delete a variable returns an error"

[2017-06-23 20:35] daniels303 commented on #270
Done.

[2017-06-23 20:35] #270 closed, assigned to nobody

[2017-06-23 21:49] mdye opened #276 "SensorML endpoint for measured properties may have changed"
The endpoint for the WindDirection measured property point to http://sensorml.com/orr/#http://sensorml.com/ont/swe/property/WindDirection
... which is broken.

We need to determine what to do about this (and whether to retain the sensorml endpoints if they are unreliable)

[2017-06-26 15:56] MisterMartin commented on #258
I think this has been completely addressed in the last comment. Feel free to re-open if that's not the case.

[2017-06-26 15:56] #258 closed, assigned to nobody

[2017-06-26 17:11] terrieyang commented on #206
It looks like the curl command is working again, so the citation is appearing correctly. Should we still change it to parsing the json, or is this format ok?

[2017-06-26 18:01] MisterMartin opened #277 "Error trying to import influxdb on bare CentOS 7"
I'm testing bringing up CHORDS on a clean CentOS 7 system, provisioned on Google Cloud Platform.

Docker was installed with:
[code]

The standard chords_control method was used to install the portal.

When trying to import an influxdb data dump, it silently fails. The following message shows up in the chords_app log (```docker logs -f chords_app```):

[code]
It is some sort of permissions problem.

[2017-06-26 20:12] daniels303 commented on #206
I think the format looks OK. Let's watch this for a couple of weeks to see if the curl command consistently works and, if so, we can close this issue. Otherwise, we can look into JSON parsing of the metadata to create a citation using the same format.

[2017-06-26 22:05] MisterMartin commented on #277
Turns out that the standard docker available via yum update is really old (v1.12).

* Follow the Docker [instructions](https://docs.docker.com/engine/installation/linux/).
* Had to open port 3000 on the Google Cloud Platform.
* Works fine now.

[2017-06-26 22:05] #277 closed, assigned to nobody

[2017-06-27 17:20] lanl-dlittle commented on #256
I just pulled the latest version (as of 6/27/17 @ about 10:30 mountain time) and the Export InfluxDB Data creates an invalid zip file that's 710 KB with a site that has 203.5K records.  I'll be trying the import shortly.

[2017-06-27 19:54] MisterMartin commented on #260
Completed in 369d0b1d4e6c8044a2aeeca37cd9f2f881892f32.

[2017-06-27 19:54] #260 closed, assigned to MisterMartin

[2017-06-27 19:55] MisterMartin opened #278 "chords_control should look for docker-compose"
Different installation methods put it in different places.

[2017-06-27 19:56] MisterMartin commented on #278
Completed in 3e0bb0aaf8f8dd9f3ee69452df874f0f70fbefd5.

[2017-06-27 19:56] #278 closed, assigned to MisterMartin

[2017-06-27 20:17] mdye commented on #268
The failure was caused by two things:

- The use of an old AMI that timed out before docker could boot
- The DOCKER_TAG was referring to "master" instead of "latest"

To resolve the later issue, I separated the GitBranchDockerTag parameter (in docker.template.yml) in to two parameters: "ChordsVersion" and "GitBranch". While these parameters are dependent on one another, I did not find a way to set

[2017-06-27 20:17] #268 closed, assigned to mdye

[2017-06-27 20:18] mdye commented on #261
http://arpa.chordsrt.com is now running on the latest 0.9.0 CHORDS codebase. All data has been migrated.

[2017-06-27 20:55] MisterMartin commented on #268
With our new protocol for releases and versioning, we decided not to use branches other than 'master' for provisioning chords instances. docker-compose.yml (and chords_control) get pulled from master, and the list of available releases comes from the docker-hub api. So can't the branch concept be removed entirely from the template?

Then there is the issue is how to populate the version choices. P

[2017-06-27 20:58] MisterMartin commented on #256
Can you upload both the site json configuration file and the zip data file?

[2017-06-27 21:01] lanl-dlittle commented on #256
I'll check as soon as possible.  may be Thursday before I try it.  I was able to export the json configuration file without a problem.  I can send along what I've gotten if it'll help but don't want to dump that much on the entire user base.

[2017-06-27 21:03] MisterMartin commented on #256
Both files together should be less than 1MB, so that shouldn't be an problem just to upload them to this issue (drag-and-drop into the comment).

[2017-06-27 21:12] lanl-dlittle commented on #256
I don't know if this will help, but CHORDS is running on Red Hat.  uname -a returns:
Linux <server name> 3.10.0-514.6.1.el7.x86_64 #1 SMP Sat Dec 10 11:15:38 EST 2016 x86_64 x86_64 x86_64 GNU/Linux

I'm accessing it via FireFox ESR 52.2.0 (32-bit) on a Windows 7 Enterprise SP1.

[los_alamos_national_laboratory_weather_machine_chords_influxdb_export_2017-06-27.zip](https://github.com/NCAR/chords/fi

[2017-06-27 22:18] MisterMartin commented on #256
I was able to bring up a portal, configure, and populate the database with these files. You can see it at: http://35.184.129.219.

Hit the Visualization button to see the data. There seems to only be data for ncom-15m. Unfortunately, we don't yet have a way to navigate the sample displays on CHORDS dashboard. This is something we really need to fix.

I have this running on a free trial at google c

[2017-06-27 22:29] lanl-dlittle commented on #256
It looks like you were successful in getting the data.  You are correct that there’s only data for the one instrument and even that will be replaced.  The other sites/instruments were just created yesterday and isn’t quite complete (as an example, TA-06 15-min has 50 variables).

So, how were you able to get the data out of the zip file since I really doubt it fit in 700K even when zipped and sinc

[2017-06-27 22:41] MisterMartin commented on #256
The zip file is what gets uploaded for the 'Import InfluxDB'.

[2017-06-27 22:58] lanl-dlittle commented on #256
OK.  My "plan" was to have it created so I could see exact format for the import.  I'll be importing around 9 million rows (assuming all measurements for a period are one row) and using cURL would be very painful.  I guess that isn't possible.

[2017-06-27 23:22] MisterMartin commented on #256
I was able to expand it (using Archive manager on MacOS) and open the file. It has exactly the same format that I described in a different issue:

[code]
The identifiers are what you will see when you hit "Toggle Details" on the instruments page.

Completely reasonable for you to create your own file, zip it, and import it. And you can chunk up your data into multiple files, and import them sequen

[2017-06-27 23:29] lanl-dlittle commented on #256
Not QUITE what I’d expect.  I really hope we’ve never had 46 inches of rain.  I’ll try this on my Mac at home – I was trying on the PC and I guess there’s enough of a difference that Windows doesn’t like it.  FWIW: All variables are now in place for active towers and we have 290 variables.  We also have inactive towers we’ll be adding in.

[2017-06-27 23:51] MisterMartin commented on #256
var=1 value=46 is the day-of-year field. The largest rainfall I see in that data is 0.55.

<img width="1506" alt="screen shot 2017-06-27 at 5 57 04 pm" src="https://user-images.githubusercontent.com/1703358/27614972-21916b0e-5b62-11e7-99b9-3ba3c472efdd.png">

[2017-06-28 00:04] mdye opened #279 "Change labels on variable "short name" and "name""
Change the wording on the labels for the variable fields "short name" and "name" to something that reflects the way they are used by the portal.

Possible suggestion:
"Short Name"  => "Input Name"
"Name" => "Display Name"

[2017-06-28 00:11] lanl-dlittle commented on #256
You beat me to it.  I realized that while I was in the store after work.

[2017-06-28 00:47] MisterMartin commented on #279
How about changing "Short Name" to "Key"? That's its function.

[2017-06-28 02:35] mdye commented on #262
migrated to new 0.9.0 instance

[2017-06-28 02:35] #262 closed, assigned to nobody

[2017-06-28 04:39] mdye commented on #264
The portal has been migrated

New portal: http://54.69.108.33
Old portal: http://52.33.2.189

[2017-06-28 04:39] #264 closed, assigned to nobody

[2017-06-28 18:14] lanl-dlittle commented on #258
**UPDATE:**

The import influxDB data does not appear to work once the file has been updated from either Mac (TextWrangler saving as unix file) or Windows 7 (UltraEdit)

**PROBLEM FOUND AND RESOLVED:**

I used 7-zip on Windows 7 to "Test Archive".  In the box at the bottom, it reads:

I added in my two rows and import was successful.  I'll now start creating larger files to import.

**SUGGESTION:*

[2017-06-29 16:11] MisterMartin opened #280 "Catch time decoding exceptions in url_create"
It's common for there to be errors in url parameters, especially the time tag for "at". In particular, url_create in the measurements controller creates a fatal error message when trying to decode them.

We should catch this error and handle it gracefully, with just a diagnostic to the log.

Example from tzvolcano:
[code]

[2017-06-29 16:44] MisterMartin opened #281 "Is dashboard performance acceptable?"
The dashboard on tzvolcano takes about 15 seconds to refresh. On the old portal, which is not receiving data, it takes about 6 seconds. Both portals contain about 30M data values. Tzvolcano is currently receiving new values at about 3 url_creates/s.

Examination of the log file shows that this time is mostly used in the influxdb queries used to populate the dashboard. The further back in time the

[2017-06-30 18:31] erikj opened #282 "update to Rails 4.2.9"
patches severe-security issues

http://weblog.rubyonrails.org/2017/6/26/Rails-4-2-9-has-been-released/

[2017-06-30 18:50] lanl-dlittle opened #283 "[Feature] Show first and last measurement date on Instrument page"
Since it's possible to get the last measurement very easily, I suspect this won't be hard to add...

On the individual Instrument pages, show the date/time of the first measurement and last measurement.  As an example, for our North Community instrument, the first measurement was 01/01/1996 @ 00:15 MST and the last measurement I collected was 06/29/2017 @ 10:00 MST.

This will be useful for 2 diff

[2017-06-30 19:16] MisterMartin commented on #281
tzvolcano is now running on an m3.large instance. This significantly improved the dashboard responsiveness, cutting the refresh time down to about 6s:
[code]

[2017-06-30 19:31] MisterMartin opened #284 "Rationalize the Influxdb archive file handling"
Currently 'Export InfluxDB' is producing a gzip file, but the file extension is .zip. This creates
confusion when the file can't be handled by winzip, etc.

- Should the file extension be changed to .gz?
- Should the export/import page explicitly state that this is the file format?
- Does the import action check for and gracefully handle unusable file formats?
- Should the file import be able to d

[2017-07-05 16:39] MisterMartin commented on #240
Cannot reproduce with current code base and a fresh portal.

[2017-07-05 16:39] #240 closed, assigned to MisterMartin

[2017-07-05 19:30] mdye opened #285 "Instrument display page returns error"
On newly deployed portals, the individual instrument pages display an error message when accessed anonymously.

[2017-07-05 19:30] mdye commented on #285
ActionView::Template::Error (no implicit conversion of nil into String):
    122:     = best_in_place @instrument, :plot_offset_value, :as => :input, :html_attrs => { size: 3 }, :classes => 'plot_offset_value'
    123:     = best_in_place @instrument, :plot_offset_units, :as => :select, :collection => { years: 'years', months: 'months', weeks: 'weeks', days: 'days', hours: 'hours', minutes: 'minut

[2017-07-05 19:53] #285 closed, assigned to mdye

[2017-07-05 20:07] daniels303 opened #286 "Review chordsrt.com to make sure it makes sense from an outsider's perspective"
In preparation for the Nature TZVOLCANO story.

[2017-07-05 20:19] daniels303 commented on #252
Not needed.

[2017-07-05 20:19] #252 closed, assigned to mdye

[2017-07-05 20:30] MisterMartin commented on #273
Should also remove HVG choices.

[2017-07-05 22:07] mdye commented on #267
Updated to version 0.9.0

[2017-07-05 22:07] #267 closed, assigned to nobody

[2017-07-06 16:48] mdye commented on #263
Done.

[2017-07-06 16:48] #263 closed, assigned to nobody

[2017-07-06 16:48] mdye commented on #261
Need to import users still.

[2017-07-06 21:42] MisterMartin commented on #257
Dennis, can you try out the development version of chords_control, and see if it handles the proxy configuration properly? (I don't have a fool proof way to test this). You can get the development version with:
[code]

[2017-07-06 22:51] mdye commented on #241
Ryan reported the portal is still crashing upon configuration import after the update to v 0.9.0

[2017-07-06 22:51] mdye commented on #241
The log files on csu-ahil report the error as:

`JSON::ParserError (A JSON text must at least contain two octets!):
  app/controllers/profiles_controller.rb:69:in `import_configuration'`

[2017-07-06 22:52] mdye commented on #241
Ryan, could you upload the .json configuration file you are attempting to import (or is it the same one as before?)

[2017-07-06 23:01] ryangooch commented on #241
I created a gist for it here: [import_config_dfw_2017_07_06.json](https://gist.github.com/ryangooch/2817999a66479b38ee0f0bbd9d1be010). You may want to check the latest error message though, I found I had messed something up with the code I generate these with. However, with the correct file, the portal still crashes upon import.

[2017-07-06 23:05] mdye commented on #241
Thanks Ryan.  YEs, there is a different error message now.  I'm looking into the cause.

[2017-07-06 23:14] MisterMartin commented on #241
It may have something to do with the logo image (or the lack of one). I
reworked the image handling awhile back to deal with errors like this. Try
resetting the logo image (so there is none), and try the export/import.

Along these lines, if the configuration contains any binary data fields,
this might be causing the problem. Translation into/from JSON requires
special handling in this case.

On T

[2017-07-07 19:21] MisterMartin commented on #273
Completed in c0ab8ed171a4815f1789c9a89966a0e2ec764b63.

[2017-07-07 19:21] #273 closed, assigned to MisterMartin

[2017-07-07 21:17] MisterMartin commented on #272
Two AWS tables were necessary in order to cross reference the region identifiers for the AWS Linux images:
* http://docs.aws.amazon.com/general/latest/gr/rande.html
* https://aws.amazon.com/amazon-linux-ami/

Also, it appears that the Canadian identifier in the CF script was wrong. I changed it from ```cn-north-1``` to ```ca-north-1```.

Succesfully tested for region US West (Oregon), with t2.micr

[2017-07-07 21:17] #272 closed, assigned to mdye, MisterMartin

[2017-07-09 02:47] mdye commented on #265
Done

[2017-07-09 02:47] #265 closed, assigned to nobody

[2017-07-09 03:14] mdye commented on #273
I re-added the t2.large, t2.xlarge and t2.2xlarge configuration options back in to the template.  Not sure why they were removed...

[2017-07-09 03:31] mdye commented on #266
This instance had been reassigned to 3d-kenya, and was accordingly migrated.

[2017-07-09 03:31] #266 closed, assigned to nobody

[2017-07-09 03:32] mdye commented on #261
Users from old server migrated.

[2017-07-09 03:32] #261 closed, assigned to nobody

[2017-07-09 04:30] mdye commented on #275
fixed

[2017-07-09 04:30] #275 closed, assigned to mdye

[2017-07-09 04:40] MisterMartin commented on #273
Hmmm, I can't find that they were ever in the template. When were they removed?

[2017-07-10 16:55] mdye commented on #273
I'm not sure when they were removed.

The way I discovered this was that for newly AWS ec2 instances built using Cloud Formation no longer had the t2.large option available. I _think_ this option was available previously, but I could be mistaken.

In any case, it's available now. :)

[2017-07-10 16:55] mdye commented on #272
Great - thank you Charlie!

[2017-07-10 17:37] lanl-dlittle opened #287 "[Feature/Mod] Export subset of data using Export Influx DB"
I'm not sure if this is possible or not, but putting it out there.  Export InfluxDB is MUCH faster than using the data URLs to pull down for an individual instrument or measurement.  However, it appears that the Export InfluxDB has it's limits.  I'm about half-way through one of my larger instruments and have 15,749,045 values for that instrument.  Just prior to that, I was able to export but now,

[2017-07-10 18:40] mdye opened #288 "Incorrect variable names listed on plot data points"
From Martin Steinson via Paul Kucera:

"I just checked the Kenya site and that is working (mostly) - it looks like it will be pretty cool when they fix all the bugs. Every data point is labeled as HTU21D, regardless of whether it's wind speed, etc. and if you have more than one parameter being displayed, you can only select one of the plots to get a specific data point."

[2017-07-11 16:46] MisterMartin opened #289 "Ruby image must be built with -fstack-check"
In light of the recent Stack Clash vulnerability, we need to insure that ```-fstack-check``` is specified for the ruby build used in CHORDS.

The latest official Docker image for ruby:2.2 is the Ruby release 2.2.7 (2017-03-28). Building it reveals that ```-fstack-check``` is not specified for gcc:
[code]

The same holds true for the latest official ruby:2.4 image:
[code]

[2017-07-12 01:17] mdye commented on #269
This has been implemented and merged into the development branch.  As always, suggested improvements are most welcome. :)

[2017-07-12 01:17] #269 closed, assigned to nobody

[2017-07-12 12:45] MisterMartin commented on #289
Erik came up with a convenient method to display the build arguments for Ruby:

[code]
Likewise, to list the configuration keys:
[code]

[2017-07-12 16:36] mdye opened #290 "Improve date-range selection on the instruments page (for generating the highchart plots)"
Currently the data range selection is quite restrictive and needs a better interface.

[2017-07-12 17:01] mdye opened #291 "Add InfluxdbTags model to import/export function"

[2017-07-12 18:10] mdye commented on #288
The tooptip formatter in highcharts was changed to make multivariable plots more readable.

[2017-07-12 18:10] #288 closed, assigned to mdye

[2017-07-13 16:37] dsarahstamps opened #292 ".xml iso19115 metadata absent"
I am not finding any metadata in the header of .xml files downloaded from the data page here http://tzvolcano.chordsrt.com/data.

`<?xml version="1.0"?>
<root>
  <notice>XML formatted data is currently not available</notice>
</root>
`

[2017-07-13 16:55] mdye commented on #292
Thanks for reporting this - I'll take a look asap.

On Thu, Jul 13, 2017 at 10:37 AM, dsarahstamps <notifications@github.com>
wrote:

[2017-07-13 16:56] mdye opened #293 "Zambia Site configuration"
From Paul:

"We are not seeing any live data on our Zambia site, particularly: http://3d-zambia.chordsrt.com/instruments/6

I am guessing this is the same problem as before.  Also, what is strange is that my account and password migrated fine for the 3d.chordsrt.com site, but not for the Zambia site.  Do you know why would that be the case?"

[2017-07-13 17:03] mdye commented on #293
configured

[2017-07-13 17:03] #293 closed, assigned to nobody

[2017-07-14 23:09] mdye commented on #241
I think I figures out at least a part of what's going on here.

The "import configuration" was implemented assuming that the entire configuration for a portal would be imported - including the profile configuration, sites, and measured properties.

The dfw config files looks like it has definitions for instruments and vars, but not sites, profile or measured properties.

I'm looking at modifying t

[2017-07-14 23:38] mdye commented on #291
added

[2017-07-14 23:38] #291 closed, assigned to mdye

[2017-07-14 23:49] mdye commented on #292
.xml export was apparently never implemented when we switched to using influxdb.

I'm implementing this now, and it will be available shortly.

[2017-07-15 00:02] dsarahstamps commented on #292
Ok. No rush.

[2017-07-15 15:30] dsarahstamps opened #294 "Tab function on Instruments page when adding new variable"
When setting up variables for new instruments, tab goes straight to the end of the line. So, if I put in the Short Name and hit tab to go to Name the tab takes me to Measured Property.
<img width="831" alt="screen shot 2017-07-15 at 11 26 45 am" src="https://user-images.githubusercontent.com/7606096/28240488-061f36ce-6951-11e7-802f-436ae9f1f6a7.png">

[2017-07-15 15:51] dsarahstamps opened #295 "Request for Instrument Page - put time-series at top of instrument pages"
See figure for reference

[Screen Shot 2017-07-15 at 11.46.39 AM.pdf](https://github.com/NCAR/chords/files/1150442/Screen.Shot.2017-07-15.at.11.46.39.AM.pdf)

[2017-07-17 16:17] daniels303 opened #296 "Modify TZVOLCANO DOI fields with updated information from Sarah Stamps"
New fields include additional authors and official information about UNAVCO, including award numbers, data policy reference, etc.

[2017-07-17 17:06] mdye commented on #254
Martin has set up a hydroserver lite VM for us here:
http://hydroportal.cuahsi.org/CHORDS/

[2017-07-17 17:06] #254 closed, assigned to mdye

[2017-07-17 17:13] mdye opened #297 "Implement rake task to define sites on a CUASHI server based on on portal configuration"

[2017-07-17 17:15] mdye opened #298 "Implement cron functionality on docker web container"
In order to periodically push data to the CUAHSI servers CHORDS portals need to be able to define cron jobs via RoR.

[2017-07-17 17:29] mdye opened #299 "Implement Hydroserver lite JSON API"
Modify the chords portal so it is capable of configuring a Hydroserver lite server in as automated a fashion as possible.

An example of the API can be seen here:
http://worldwater.byu.edu/app/index.php/rushvalley/services/api

(Note: This issue will be broken down in to more granular issues.)

[2017-07-17 18:29] mdye commented on #259
As Hydroserver Lite will be the archiving platform, Issued #299 replaces this issue.

[2017-07-17 18:29] #259 closed, assigned to nobody

[2017-07-17 18:31] mdye commented on #255
The Hydroserver Lite is set up and we are able to log in to it.

[2017-07-17 22:28] mdye opened #300 "Create "Archives" MVCs"
Add a new MVC for "Archives" the will list supported archives, starting with CUAHSI

[2017-07-17 22:58] mdye commented on #300
**Fields:**
archive_type
  * CUAHSI

username
password
base_url
send_frequency
  - every month
  - every week
  - every day
  - every 6 hours
  - every hour
  - every 15 minutes
  - every 5 minutes
  - every minute

last_archived_at

[2017-07-18 17:57] mdye opened #301 "Add fields required for CUAHSI sources to portal configuration"
A number of fields are required by Hydrosrever Lite that don't currently exist on the chords portal.

These fields need to be added to the portal profile configuration:

Required fields:

"organization" =>"CHORDS",
"description" => "desc",
"link" => "http://example.com",
"name" => "name" (Contact Name)
"phone" =>"012-345-6789", (Contact Phone)
"email" =>"test@gmail.com", (Contact Email)
"address"

[2017-07-18 18:11] mdye commented on #301
The map for the CUAHSI fields will be

"organization" => profile.affiliation
"description" => profile.project_name
"link" =>  (link to the portal)
"name" => profile.contact_name
"phone" =>profile.contact_phone
"email" =>profile.contact_email
"address" => profile.contact_address
"city" => profile.contact_city
"state" => profile.contact_state
"zipcode" => profile.contact_zipcode
"citation" => profil

[2017-07-18 19:03] terrieyang commented on #301
Just noticed that contact state is missing from the schema

[2017-07-18 19:34] mdye opened #302 "Add CUAHSI user and password config.yml file"
Add a config file that defines ARCHIVE_USERNAME and ARCHIVE_PASSWORD variables so we don't need to hard-code these. (And hence commit them into the repo)

[2017-07-18 19:39] mdye commented on #301
Oops!

I added a contact_state as well as a contact_country (which I know isn't used by CUAHSI, but thought it made sense)

You'll probably need to nuke your current DB, as I put the additions directly into the existing migration.

[2017-07-18 19:40] mdye commented on #301
Note to self: Still need to clean up the Input form for the new fields.

[2017-07-19 15:16] daniels303 commented on #238
Sarah Stamps wanted me to update the DOI metadata for tzvolcano which I did on Monday July 17. However, when I go to the ["About" tab for tzvolcano](http://tzvolcano.chordsrt.com/about), the reference describing how to cite the TZVOLCANO CHORDS portal does not display the updated DOI metadata. It was my understanding that this page is generated dynamically so that it displays current information w

[2017-07-19 17:18] mdye commented on #238
That's correct - the citation is retrieved from doi.org on every page load.

The citation I'm seeing on the about page matches what I see on the [EZID site](https://ezid.cdlib.org/id/doi:10.5065/D6P849BM) right now.

I'm wondering ix EZID perhaps has a caching mechanism in place so that it takes a while for changes to propagate?

[2017-07-19 17:22] daniels303 commented on #296
Done. Still need this to display properly in the portal, however.

[2017-07-19 17:22] #296 closed, assigned to daniels303

[2017-07-19 17:26] daniels303 commented on #238
OK, what I'm noticing is that the DataCite metadata you reference lists multiple authors while our TZVOLCANO citation only lists one.

[2017-07-19 18:12] mdye commented on #238
I'm not sure why doi.org is returning this result.

It seems strange that after two days that caching would still be an issue, but I think that might be the issue.  I tried retrieving the citation in several different formats, including JSON, and it never listed more than one author.

[2017-07-19 20:41] terrieyang commented on #299
For variables, "VariableUnitsID" is currently hardcoded as 349 (Other/New in the database).

[2017-07-20 20:59] lanl-dlittle commented on #295
With regards to a note in the  attached PDF:

At my request and possibly others, logos were removed from pages other than the about page.  Speaking for myself, I very much appreciate the change.

Dennis

[2017-07-20 21:01] mdye opened #303 "Discuss with CHORDS team: Should logos be present on all pages?"

[2017-07-21 00:36] MisterMartin commented on #303
I reworked the logos a couple of months ago. I think it really improved the site, by consolidating a bunch of duplicated material that was using up major real estate. The logos do not add any functionality to a page. I vote for the current scheme.

[2017-07-21 13:28] daniels303 commented on #238
The other thing to note is that the author metadata for Sarah in tzvolcano is "Stamps, D. S." while DataCite lists this as "Stamps, D. Sarah". So there is definitely a difference in what we are displaying versus what is stored at DataCite. I made this change on Monday and so I also doubt that it is a caching issue.

[2017-07-21 15:34] terrieyang commented on #238
I noticed that if you search for [tzvolvano](https://search.datacite.org/works?query=10.5065%2Fd6p849bm) on Datacite it contains the updated authors. However if you click on 'cite' (this is the citation that is being displayed on the about page), it only contains 1 author. The same citation for the [NCAR Earthcube](https://search.datacite.org/works?query=10.5065%2Fd6v1236q) contains multiple autho

[2017-07-21 19:27] mdye commented on #298
Cron has been added to the docker stack and interfaces with rails using the "whenever" gem.

[2017-07-21 19:27] #298 closed, assigned to mdye

[2017-07-21 19:46] mdye commented on #255
Tested, and working.

[2017-07-21 19:46] #255 closed, assigned to terrieyang

[2017-07-21 20:02] mdye opened #304 "Add ability to import only data"

[2017-07-21 20:05] mdye opened #305 "Add ability to upload configuration of only site and instrument configuration"

[2017-07-21 20:14] mdye opened #306 "Add ability to upload data in a format native to what Virginia Tech uses"

[2017-07-21 20:15] terrieyang commented on #283
Added first and last measurement date/times. If no measurements have been made, the current time is displayed.

[2017-07-21 20:15] mdye opened #307 "Add documentation to wiki on how to format data files that can be uploaded and inserted into InfluxDB"

[2017-07-21 20:23] mdye commented on #303
CHORDS team agreed that logos should only be displayed on the "about" page

[2017-07-21 20:23] #303 closed, assigned to nobody

[2017-07-21 20:28] terrieyang commented on #274
Instead of ODM2, Unidata UDUNITS have been implemented in branch feature-274-units. The ability for users to create their own units still needs to be discussed and implemented.

[2017-07-23 19:45] dsarahstamps opened #308 ""This site can't be reached" or "The connection was reset""
I am unable to load tzvolcano.chordsrt.com on 3 different computers and a cell phone.

I get one of 2 errors:

"This site can't be reached" or "The connection was reset"

[2017-07-23 19:46] dsarahstamps commented on #295
OK.

[2017-07-24 01:02] mdye commented on #308
I'm working on bringing the portal back up and will let you know as soon as the work is completed.

[2017-07-24 04:16] mdye commented on #308
The issue has been fixed and the site is back up.

[2017-07-24 04:16] #308 closed, assigned to nobody

[2017-07-24 12:33] dsarahstamps commented on #308
Thank you.

[2017-07-24 15:07] dsarahstamps commented on #306
We will upload data via geocsv consistent with the geocsv files one can download from CHORDS portals.

[2017-07-24 16:27] mdye commented on #306
Sounds great Sarah.

I'll implement an import capability based on the current geocsv output.

[2017-07-24 16:45] mdye opened #309 "Add "Domain Name" field to profile schema"

[2017-07-24 16:47] mdye opened #310 "Site configuration: add code to retrieve SourceID based on portal URL"

[2017-07-24 16:50] mdye opened #311 "Populate SiteCode in CUASHI site creation"
Need to do a lookup of existing sitecodes from CUASHI and increment based on returned value.

This should be user-editable, just in case the lookup code fails to return a (correct) value

[2017-07-24 16:51] mdye opened #312 "Implement SiteType MVC based on CUASHI CV"

[2017-07-24 16:52] mdye opened #313 "Add real value for MethodLink to hydroportal instrument/method creation"

[2017-07-24 16:55] mdye opened #314 "Add VariableName as a CV in CHORDS portal or hard code to "unknown""
... ask Martin about how this is used, as the values are unusual.

This should likely be hard-coded to "unknown"

However, some of the values in this CV correspond to existing CHORDS portal "Measured Properties"

Hydroserver Lite: http://hydroportal.cuahsi.org/CHORDS/index.php/default/variable/add

http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=VariableNameCV

[2017-07-24 16:56] mdye opened #315 "Ask Martin about speciation field in hydroserver variable creation"

[2017-07-24 16:58] mdye opened #316 "Add VariableUnits ID as specified by CUASHI and link to portal units field"

[2017-07-24 16:58] mdye opened #317 "Add SampleMedium CV to portal"

[2017-07-24 16:59] mdye commented on #317
... or just use 'unknown'

[2017-07-24 17:01] mdye opened #318 "Add ValueType CV for use in variables"
... or just use "Field Observation"

[2017-07-24 17:03] mdye opened #319 "Link "TimeSupport" field to instrument sampling frequency"

[2017-07-24 17:04] mdye opened #320 "Hardcode "Time Unit" to second in hydroserver variable creation"

[2017-07-24 17:05] mdye opened #321 "Optional: add "Data Type" CV linked to variable"

[2017-07-24 17:06] mdye opened #322 "Add GeneralCategory CV linked to variable"

[2017-07-24 17:14] mdye commented on #320
... for the configuration of a Hydroportal "variable"

[2017-07-24 17:18] mdye commented on #315
This field is a list of elements and molecules, yet is a required field.

Is it possible to set this to "unknown?"

[2017-07-24 17:20] mdye commented on #313
This will be the link to the CHORDS portal instrument landing page.

[2017-07-24 17:20] mdye commented on #312
http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=SiteTypeCV&id=853578079

[2017-07-24 17:55] mdye commented on #283
One little tweak:

If there are no measurements for an instrument the dat/time shouldn't be displayed. :)

![screen shot 2017-07-24 at 11 54 36 am](https://user-images.githubusercontent.com/270551/28537120-0ecafa84-7067-11e7-82ee-a64f61dca44a.png)

[2017-07-24 18:11] lanl-dlittle opened #323 "Request: Optional removal of labels to side of chart"
This may be a duplicate but I couldn't find the original if so...

Please make the labels optional (configuration option), make them show only for fields that  are being displayed or remove them.  When there are many variables, the chart is completely unusable and since the page is set to a maximum width, resizing to use both my displays does no good.

![image](https://user-images.githubuserconten

[2017-07-24 18:13] terrieyang commented on #283
Fixed!

[2017-07-24 20:29] mdye commented on #283
Great - Thanks Terrie!

[2017-07-24 20:29] #283 closed, assigned to terrieyang

[2017-07-24 21:25] mdye commented on #206
Completed by Terrie.

[2017-07-24 21:25] #206 closed, assigned to terrieyang

[2017-07-24 22:15] mdye commented on #309
domain name has been added to the profile configuration

[2017-07-24 22:15] #309 closed, assigned to mdye

[2017-07-24 23:55] mdye commented on #302
config/archive.yml file added.

This is only  first step.

Critical future work:
  - the .yml needs to generated and editable by an online user.
  - the username/password MUST to be encrypted.

[2017-07-24 23:55] mdye commented on #309
done and merged into development branch

[2017-07-24 23:57] mdye commented on #301
Done.

[2017-07-24 23:57] #301 closed, assigned to mdye

[2017-07-25 21:28] terrieyang commented on #320
TimeUnitsID is hardcoded to 100 (second)

[2017-07-25 21:28] #320 closed, assigned to terrieyang

[2017-07-25 21:42] terrieyang commented on #319
Done

[2017-07-25 21:42] #319 closed, assigned to terrieyang

[2017-07-25 21:45] terrieyang commented on #313
Done

[2017-07-25 21:45] #313 closed, assigned to terrieyang

[2017-07-26 03:43] mdye opened #324 "Encrypt and obscure archive credentials"

[2017-07-26 03:44] mdye opened #325 "Implement Archive Jobs MVC"

[2017-07-26 03:45] mdye commented on #302
archive credentials editable via web interface

[2017-07-26 03:45] #302 closed, assigned to nobody

[2017-07-26 03:45] mdye commented on #300
Implemented and merged into development

[2017-07-26 03:45] #300 closed, assigned to nobody

[2017-07-26 19:17] mdye opened #326 "Highcharts not working in Firefox 52.2.1 (Windows)"

[2017-07-27 21:33] mdye opened #327 "Optional: Add SampleMedium CV for use in variable definition"

[2017-07-31 21:58] terrieyang opened #328 "Display archive configuration statuses"

[2017-08-01 20:10] mdye opened #329 "Import CUAHSI Units CV"
http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=Units&id=1125579048

[2017-08-01 20:14] mdye opened #330 "Check Portal configuration when an archive is selected to make sure portal configuration is compatible with the archive"
There are a couple conditions that need to be met before a portal should be able to stream data to, for example, hydroserver lite.

- The CUAHSI CV must be used for the measured properties.
- The CUAHSI units must be used

[2017-08-01 20:17] mdye opened #331 "Import CUAHSI "Physical Variables" ontology in to the portal Measured Properties table"
update the Meadured Properties table in the portal with CUAHSI variables.

An XML file of what need to be imported by:
- Going to http://hiscentral.cuahsi.org/webservices/hiscentral.asmx?op=getOntologyTree
- Entering "Physical" and hitting enter

[2017-08-01 20:19] mdye opened #332 "Add a field to the measured properties table to describe where that property was acquired from"
Since we will be using two ontologies now for our list of possible measured properties we will need to be able to distinguish between the two sources

Possible field names:
"ontology_source"
"source"

[2017-08-01 20:22] mdye opened #333 "Add a dropdown menu on the profile page to determine which measure properties will be used to define variables on a portal"
current options:
"SensorML"
"CUAHSI"

[2017-08-01 20:22] mdye opened #334 "Add documentation on portal about the different measured properties sources"

[2017-08-01 20:26] mdye commented on #315
The speciation field should be set to "Not Applicable"

[2017-08-01 20:26] #315 closed, assigned to mdye

[2017-08-01 20:27] #312 closed, assigned to terrieyang

[2017-08-01 20:27] #310 closed, assigned to terrieyang

[2017-08-01 21:19] #311 closed, assigned to terrieyang

[2017-08-02 17:14] terrieyang commented on #322
General category added as a collection select, formatting of variables still needs to be fixed

[2017-08-07 16:38] mdye opened #335 "Add CUAHSI source id edit field to profile (cuahsi_source_id)"

[2017-08-07 16:38] mdye opened #336 "Keep free- text "units" :string in - change HMTL text to "Units Label""

[2017-08-07 16:39] mdye opened #337 "fix layout of variable display"

[2017-08-07 16:41] mdye opened #338 "add conditional statements based on if archiving is enabled"
There are a number of fields that are specific to archiving functionality. These fields should be unavailable unless an archiving service is selected.

[2017-08-07 16:42] mdye opened #339 "Add new models to the import/export capability"

[2017-08-07 16:44] mdye opened #340 "Create or clean up index pages for controlled vocabularies."
It would be useful for a user to be able to look at the entire contents of controlled vocabularies: measured properties, general categories, units, etc.

If index pages for these don't exist they should be created.

[2017-08-07 16:46] mdye opened #341 "Empty option for "Topic Category""
During new instrument there is a selectable blank entry under "Topic Category"

Do we want to force a use to select one?

[2017-08-07 16:46] mdye opened #342 "Add topic category editing capability to the instrument edit page"
(This may already exist in a development branch)

[2017-08-07 16:48] mdye opened #343 "Configuration of sites possibly returning false positive?"
After creating a new site with a unique name I attempted to configure the CUAHSI archive. The portal reported "success" but the site remained unconfigured.

[2017-08-07 16:59] #253 closed, assigned to mdye, terrieyang

[2017-08-07 17:00] mdye commented on #328
Nicely done!

[2017-08-07 17:00] #328 closed, assigned to terrieyang

[2017-08-07 17:00] #322 closed, assigned to terrieyang

[2017-08-07 17:00] #329 closed, assigned to nobody

[2017-08-07 17:01] #297 closed, assigned to terrieyang

[2017-08-07 17:01] mdye commented on #297
Some testing and refinement to be done, but this has been completed.

[2017-08-07 17:01] mdye commented on #299
done

[2017-08-07 17:01] #299 closed, assigned to mdye, terrieyang

[2017-08-07 17:02] mdye commented on #274
done

[2017-08-07 17:02] #274 closed, assigned to terrieyang

[2017-08-07 17:02] mdye commented on #325
done

[2017-08-07 17:02] #325 closed, assigned to mdye

[2017-08-07 17:55] mdye commented on #342
I'll take care of this one Terrie. :)

[2017-08-07 20:05] mdye commented on #342
Done

[2017-08-07 20:05] #342 closed, assigned to mdye

[2017-08-07 20:07] mdye commented on #340
Relevant CV based models:

archive_jobs
measured_properties
site_types
topic_categories
units

[2017-08-07 20:40] mdye commented on #340
Links added.

[2017-08-07 20:47] mdye opened #344 "Add permission checking for new models"
Need to make sure that credentials are checked for accessing and modifying:

archive
archive jobs
CV models

[2017-08-07 21:12] mdye commented on #341
I don't think the first site type entry is saving correctly - the description is empty.

![screen shot 2017-08-07 at 3 09 01 pm](https://user-images.githubusercontent.com/270551/29045996-cde6b6ee-7b82-11e7-9570-70ce49862f2a.png)

[2017-08-07 21:12] daniels303 commented on #238
I noticed that this is now working, i.e. the About page of tzvolcano.chordsrt.com lists multiple authors. Did something change in our code or do we think the DataCite JSON API is now working with the updated tzvolcano DOI metadata?

[2017-08-07 21:18] daniels303 commented on #238
Also, on the tzvolcano About page, under Citing CHORDS, there is a reference to the DataCite metadata for the tzvolcano DOI:

"CHORDS has been issued a Digital Object Identifier (DOI) from DataCite.org. See the [DataCite reference](http://data.datacite.org/10.5065/D6V1236Q) to view the relevant DOI metadata fields."

The link for the DataCite reference just points back to the CHORDS software DOI.

[2017-08-07 21:35] terrieyang commented on #341
Both topic categories and site types should be fixed now

[2017-08-07 21:37] mdye commented on #341
Fantastic - thank you!

[2017-08-07 21:55] mdye commented on #340
Index pages cleaned up

[2017-08-07 21:55] #340 closed, assigned to nobody

[2017-08-07 21:56] #341 closed, assigned to terrieyang

[2017-08-07 21:56] #336 closed, assigned to nobody

[2017-08-07 21:58] mdye commented on #318
This is hardcoded to "Sample"

[2017-08-07 21:58] #318 closed, assigned to mdye

[2017-08-07 22:01] mdye opened #345 "Set default topic category to "Unknown""

[2017-08-07 23:20] mdye commented on #317
done - hard coded to "Unknown" for the time being.

[2017-08-07 23:20] #317 closed, assigned to mdye

[2017-08-07 23:21] #345 closed, assigned to terrieyang

[2017-08-07 23:22] mdye commented on #321
Hard coded to "Unknown"

[2017-08-07 23:22] #321 closed, assigned to nobody

[2017-08-07 23:23] mdye commented on #327
Hard coding this to "Unknown"

[2017-08-07 23:23] #327 closed, assigned to nobody

[2017-08-08 00:53] mdye opened #346 "Update CUAHSI variable creation to use the VariableUnitsID from the units CV"
Right now the VariableUnitsID is hard coded:
`"VariableUnitsID" => 349,`

We need to modify the variable creation to use the actual CUASHI Unit ID.

[2017-08-08 00:55] mdye opened #347 "Update CUAHSI variable creation to use the selected General Category for that variable"

[2017-08-08 00:58] mdye opened #348 "Update CUAHSI variable creation to use a VariableName from the CuashiVariableName list"

[2017-08-08 01:30] mdye commented on #314
This issue is replace by #331.

[2017-08-08 01:30] #314 closed, assigned to nobody

[2017-08-08 04:17] mdye opened #349 "Put possible options for *_sources select dropdown in model"
`    .line
    .line
      .title
        Unit Source
      .field
        #{f.select :unit_source, options_for_select([['CUAHSI', 'CUAHSI'], ['UDUNITS', 'UDUNITS']], @profile.unit_source)}

    .line
    .line
      .title
        Unit Source
      .field
        #{f.select :measured_property_source, options_for_select([['SensorML', 'SensorML'], ['CUAHSI', 'CUAHSI']], @profile.unit_source)}

`

[2017-08-08 04:50] mdye commented on #333
Done.

field name = measured_properties_source

[2017-08-08 04:50] #333 closed, assigned to nobody

[2017-08-08 04:51] mdye commented on #331
A selection of the non-chemistry based terms were manually extracted from the vocabulary and integrated into the portal measured properties

[2017-08-08 04:51] #331 closed, assigned to nobody

[2017-08-08 04:51] mdye commented on #332
Field name: source

done.

[2017-08-08 04:51] #332 closed, assigned to nobody

[2017-08-08 04:53] mdye commented on #348
The CUAHSI variable name should be the name of the measured property.

Need to make sure that the measured_property source is set to CUAHSI!

[2017-08-08 04:55] mdye commented on #316
Same as #346

[2017-08-08 04:55] #316 closed, assigned to nobody

[2017-08-08 04:58] mdye opened #350 "Double check that time range on points being sent to archive do not produce duplicates"
the search query should be

AND
< end time

[2017-08-08 19:53] terrieyang opened #351 "Handle failed archive jobs"
Ideally only the failed data values would be re-pushed to the archive and not the entire archive job. The archive job message currently displays the timestamp and error of the data values that failed.

[2017-08-08 20:45] daniels303 opened #352 "Remove old CSV export in favor of GeoCSV"
Similar to the [JSON<>GeoJSON issue](https://github.com/NCAR/chords/issues/214), this option should be removed so as to promote use of the GeoCSV standard.

[2017-08-08 21:17] mdye commented on #350
Confirmed:

`time_query = "time >= #{start_time_ns} and time < #{end_time_ns}"`

[2017-08-08 21:17] #350 closed, assigned to nobody

[2017-08-08 21:18] mdye commented on #343
Fixed by Terrie

[2017-08-08 21:18] #343 closed, assigned to nobody

[2017-08-08 21:18] #338 closed, assigned to nobody

[2017-08-08 21:18] #348 closed, assigned to terrieyang

[2017-08-08 21:18] #346 closed, assigned to terrieyang

[2017-08-08 21:18] #347 closed, assigned to terrieyang

[2017-08-08 22:13] mdye opened #353 "Use a unique string for the variable code instead of var.id"
This could be set to:

portal.url:site_name=var.instrument.site.name:instrument_name=var.instrument.name:var_name=var.name

(or something similar that results in a more confidently unique string fir the CUAHSI variable code.

[2017-08-09 04:03] mdye opened #354 "Add button on archive jobs page to remove successfull jobs"

[2017-08-09 04:39] mdye commented on #214
Done

[2017-08-09 04:39] #214 closed, assigned to nobody

[2017-08-09 04:40] mdye commented on #352
Done

[2017-08-09 04:40] #352 closed, assigned to nobody

[2017-08-09 04:50] mdye commented on #276
All ontology endpoint links were checked, and are funcitonal.

[2017-08-09 04:50] #276 closed, assigned to nobody

[2017-08-09 05:04] mdye commented on #339
Archive, ArchiveJob, SiteType, TopicCategory, and Unit Models and all database rows now properly export / import

[2017-08-09 05:04] #339 closed, assigned to mdye

[2017-08-09 05:05] mdye commented on #337
done.

[2017-08-09 05:05] #337 closed, assigned to mdye

[2017-08-09 05:13] mdye opened #355 "Add "Enable archiving" button to archive config page"
A button "Check Configuration and Enable Archiving" should be added to the archive configuration page that when clicked:

- Checks the archive and portal configuration to make sure everything is configured and set up for archiving
- Sets a (new) field "archiving_enabled" in the Archive model to true

The send data function / rake task should check to make sure archive.archiving_enabled == true bef

[2017-08-09 05:16] mdye opened #356 "put together a list of SQL commands to wipe the CUASHI database of configuration and data"

[2017-08-09 05:23] mdye opened #357 "Should "test" data be transmitted to the archive?"

[2017-08-09 13:30] MisterMartin commented on #357
I'd say yes. Who knows what the test flag will be used for by users?

[2017-08-09 15:09] terrieyang commented on #353
Changed the variable code to be domain_name:site_name:inst_name:var_name

[2017-08-09 16:57] mdye commented on #353
Thank you Terrie!

It just occurred to me that there would likely be special characters and whitespace in the derived VariableCode.

Let's do the following:
- replace whitespace with underscores
- remove any non-alphanumeric characters except for . and :
- convert the string to lower case

[2017-08-09 17:09] terrieyang commented on #353
Sounds good, I'll create a method for this in the Vars model since we'll also need it to retrieve the CUAHSI variable ID

[2017-08-09 17:13] mdye commented on #353
That made me think that the site/instrument/variable ids should be used instead on the names for the creation of the VariableCode. It's quite likely that a name could change, which would break the archive integration.

Sorry I didn't catch this earlier.

[2017-08-09 17:13] mdye commented on #357
Agreed - I'll leave this the way it is.

[2017-08-09 17:13] #357 closed, assigned to nobody

[2017-08-09 17:20] terrieyang commented on #353
Ah ok, but then the ids would just be something like "1:1:1" - wouldn't this bring us back to the original problem of multiple people pushing variables with the same code into the archive?

[2017-08-09 17:24] terrieyang commented on #353
The variable code is used to find the CUAHSI variable ID, but this should only happen once since the ID will then be stored in the rails database. So as long as the user doesn't change the variable name between the configuration of the variable and the first data value that is sent for that var, changing the name shouldn't be an issue. Definitely something to think about though

[2017-08-09 17:26] mdye commented on #353
Since the url would still be part of the string, I think we're on on the uniqueness aspect:

portal.chordsrt.com:1:1:1

[2017-08-09 17:27] terrieyang commented on #353
Got it, will do!

[2017-08-09 17:27] mdye commented on #353
Awesome - thank you!

[2017-08-11 20:04] #353 closed, assigned to terrieyang

[2017-08-14 15:35] MisterMartin commented on #257
Dennis - did you ever try out the current version of chords_control to see if it works correctly with your proxy?

[2017-08-15 04:53] mdye commented on #355
Done.

the rake tasks that pushes data to the archive also checks to make sure that archiving is enabled before transmitting data to an archive.

[2017-08-15 04:53] #355 closed, assigned to nobody

[2017-08-15 04:53] mdye commented on #330
done

[2017-08-15 04:53] #330 closed, assigned to nobody

[2017-08-15 04:55] mdye commented on #351
This may or may not be implemented depending on if the hydroserver lite is update with a more reliable API.

[2017-08-15 05:13] mdye commented on #354
done.

[2017-08-15 05:13] #354 closed, assigned to nobody

[2017-08-15 05:33] mdye commented on #344
done

[2017-08-15 05:33] #344 closed, assigned to mdye

[2017-08-15 05:46] mdye commented on #324
done

[2017-08-15 05:46] #324 closed, assigned to mdye

[2017-08-15 20:22] mdye opened #358 "create google maps api key for CUAHSI workshop users"

[2017-08-15 20:23] mdye commented on #358
this key should be deleted after the workshop

[2017-08-15 21:04] mdye opened #359 "change ontology default to CUAHSI to avoid misconfigurations"

[2017-08-15 21:37] MisterMartin commented on #257
Completed and tested as much as possible. This was done using tinyproxy running in docker, to proxy to a machine on the same network.

[2017-08-15 21:37] #257 closed, assigned to MisterMartin

[2017-08-15 23:56] daniels303 opened #360 "Resolve Cloud Formation error in creating portal stack on AWS"
I followed the instructions on using Cloud Formation to create a stack for the portal on AWS:

     http://ncar.github.io/chords/create.html

However, I received a rollback message when the stack was created: "Parameter validation failed: parameter value for parameter name KeyName does not exist. Rollback requested by user."

Seems to be related to "KeyName" not being specified, but this was not s

[2017-08-16 00:00] daniels303 opened #361 "Mismatch in CHORDS admin password"
When selecting the Amazon S3 template at https://s3-us-west-2.amazonaws.com/chords-template/docker.template.yml

The default admin password is chords_ec_demo which doesn't appear to be consistent with the rest of the configuration instructions which assume an admin password of "realtimedata". Also, the default InstanceType in this template is "t2.small" rather than "t2.micro"

[2017-08-16 00:11] daniels303 commented on #360
Just noting that Branko has a link to our AWS instructions in his agenda and so we need to correct this as soon as we can.

[2017-08-16 00:21] MisterMartin commented on #360
Good catch. The screen shot and text should indicate that a key must be selected in the KeyName drop down.

![img_0249](https://user-images.githubusercontent.com/1703358/29342157-7b32bef6-81e6-11e7-8f4f-e73e316eeef4.PNG)

[2017-08-16 00:38] MisterMartin commented on #361
That is the database admin password, not the chords portal admin password. The instructions do say that it is the database password, but we can add a parenthetical which says that it is not the portal password.

[2017-08-16 00:41] daniels303 opened #362 "Create screenshots of workshop portal configuration for two variables"
From our call on Aug 15, one variable will be depth and the other will be battery voltage?

Here are the names I chose:

Shortname: depth
Name: depth
Units: centimeter of water
Plot Label: cm
Min: 0
Max: 1000
Measured Property: Water depth
General Category: Hydrology

Shortname: bv
Name: battery_voltage
Units: millivolts
Plot Label: mv
Min: 0
Max: 1000
Measured Property: Battery voltage
General Ca

[2017-08-16 00:41] MisterMartin commented on #361
Fixed in 77ae2c287d6f23f3c242c337134396e0a7ab3909 by adding explanatory text to the cloud formation template.

[2017-08-16 00:48] MisterMartin commented on #286
We will get a lot of input for this issue at the UMich workshop!

[2017-08-16 00:56] daniels303 commented on #360
Thanks, I tried this and the only KeyName in the dropdown was "chords_ec_demo". When I selected this and tried to create the stack, I received a new error message: "AccessDenied. User doesn't have permission to call ec2:DescribeKeyPairs. Rollback requested by user."

[2017-08-16 00:58] MisterMartin commented on #361
The jury is still out on whether a t2.micro is acceptable or not. My sense is that it will work for low bandwidth portals. We default to t2.small to provide some headroom. I think the documentation should say something to this effect.

[2017-08-16 01:10] MisterMartin commented on #360
Are you sure you selected the KeyName dropdown? It worked for me yesterday.

[2017-08-16 01:12] daniels303 commented on #360
Looking more closely at my screenshot, this is not a dropdown at all, only a prefilled-in field from a prior entry (see the lack of up/down arrows on the right side of the text entry box). Were keys supposed to be setup someplace previously? I did not see anything about this in our instructions.

[2017-08-16 01:17] MisterMartin commented on #360
Aha, that's it.  When you set up a google account, you should create a key pair. That should be in the AWS setup instructions. And there should be instructions on how to do that after the fact, if you have already created an account without creating a key pair. It's not hard, although I forget the exact steps.

[2017-08-16 01:18] daniels303 commented on #360
OK, I can do that (I assume you mean AWS account). Do you have an example of what a key pair looks like?

[2017-08-16 01:30] MisterMartin commented on #360
Go to the "Key Pairs" tab on the EC2 dashboard, and select "Create Key Pair". You give it a name of your choosing. It will automatically create the public and private keys.

The name you assign will then be available in the cloud formation form "KeyName" dropdown.

![img_0250](https://user-images.githubusercontent.com/1703358/29343702-150f1836-81f0-11e7-8c2d-b7bc3e8db551.PNG)

[2017-08-16 03:34] daniels303 commented on #360
My dashboard looks a little different (I wonder if it's because I'm using IAM?). I'll have to investigate where to find the key setup for IAM users.

[2017-08-16 13:23] MisterMartin commented on #360
Did you select "EC2" from the Services dropdown?

[2017-08-16 16:30] daniels303 commented on #360
Got it, thanks! I went through the process, created a Key pair and successfully brought up a portal on AWS. I've updated the documentation to include all the steps I needed to add.

[2017-08-16 16:30] #360 closed, assigned to daniels303

[2017-08-16 16:32] daniels303 commented on #361
I've modified the documentation to say "For demonstrations and simple, low-bandwidth streaming feeds, select a t2.micro instance type which are free of charge for the first year. Otherwise, use the default."

[2017-08-16 16:41] MisterMartin commented on #358
Done. Will email the key to relevant parties.

[2017-08-16 16:41] #358 closed, assigned to nobody

[2017-08-16 19:06] daniels303 opened #363 "General category field of new variable does not retain its setting"
When I add a new variable using a development version of the portal, I select "hydrology" as the General category. However, this setting gets changed back to "Unknown" and is not retained.

[2017-08-16 19:17] mdye commented on #363
Thanks for reporting this. I'll fix this prior to deploying 0.9.1.

[2017-08-16 21:23] mdye commented on #356
TRUNCATE TABLE datavalues;
TRUNCATE TABLE methods;
TRUNCATE TABLE sites;
TRUNCATE TABLE sources;
TRUNCATE TABLE variables;
TRUNCATE TABLE seriescatalog;

However, these fail due to foreign key constraints.

The tables can be truncated via phpMyAdmin: http://hydroportal.cuahsi.org/phpMyAdmin/

[2017-08-16 21:23] #356 closed, assigned to nobody

[2017-08-16 21:48] daniels303 opened #364 "Implement CHUASI rebranding changes"
In light of Martin Seul's comment that CUAHSI is rebranding their data services, we should change the text:

"CUASHI HydroServer Options"

to

"CUAHSI Data Services"

on the configuration pagel.

[2017-08-16 21:59] MisterMartin commented on #364
Completed in 3df7982d8d37dab47286694eb9e1f54e1b0bc580.

[2017-08-16 21:59] #364 closed, assigned to nobody

[2017-08-17 00:31] mdye commented on #363
fixed

[2017-08-17 00:31] #363 closed, assigned to nobody

[2017-08-17 00:32] mdye commented on #359
A check was added so that displays a message to the user if the configuration is incompatible with the archive

[2017-08-17 00:32] #359 closed, assigned to nobody

[2017-08-17 16:21] MisterMartin opened #365 "Refactor udp_forwarder service"
The existing udp_forwarder service definition (for RHEL systems) was originally setup to run out of /usr/lib/systemd/system and so on.

Reorganize it so that the service definition, configuration files and udp_forwarder.rb live in /var/lib/chords/.

[2017-08-17 16:25] MisterMartin commented on #365
Completed in 3a53a235d0e391013437c1dbd59530b09db95919.

[2017-08-17 16:25] #365 closed, assigned to MisterMartin

[2017-08-17 16:27] MisterMartin opened #366 "Refactor psql_forwarder service"
As was done for udp_forwarder in #365.

[2017-08-17 16:40] mdye opened #367 "fix login submit and instrument creation button alignment"

[2017-08-17 16:43] mdye opened #368 "Move ontology configuration to new "metadata" section on profile config page"

[2017-08-17 16:49] mdye opened #369 "Add text explaining that the CUAHSI source id is auto-configured and shouldn't be edited!"

[2017-08-17 16:54] mdye opened #370 "Rails secrets key MUST be 256 bits long"
This needs to be changed in the CHORDS AWS setup

The reason for this is that we're getting an error in production related to encryption/decryption of the archive credentials
`OpenSSL::Cipher::CipherError (key length too short):`

[2017-08-17 16:55] mdye commented on #370
This is a critical issue and need to be addressed immediately.

[2017-08-17 17:21] mdye commented on #370
Charlie, are you aware of a method to randomly generate a 256 bit sequence that we can use to populate the Rails secret in the AWS cloud formation template?

[2017-08-17 17:26] mdye commented on #370
I'm setting a default key in the cloudformation template that is 256 bits long.  This is a temporary solution, and we need to figure out a better way to do this.

[2017-08-17 17:36] MisterMartin commented on #370
openssl  rand -hex 256

[2017-08-17 17:41] mdye opened #371 "domain name need to also accept IP addresses"

[2017-08-17 17:42] mdye opened #372 "portal crashed if archive selected but contains incorrect credentials"

[2017-08-17 17:51] mdye commented on #370
Thanks Charlie.

It also looks like the chords container in production mode is setting the env variable to

`SECRET_KEY_BASE=$(SecretKeyBase}`

(As in it's not substituting the value of the variable in, but using the literal string '$(SecretKeyBase}' as the key.

[2017-08-17 18:10] MisterMartin opened #373 "Dashboard not displaying for workshop test portal"
Matt has put three samples into the workshop portal, but the dashboard doesn't show any data. Doing a data download for Matt's Test Node shows that there is data there:

[code]

[2017-08-17 18:12] MisterMartin commented on #373
Intuition told me that the apostrophe in the instrument name was the problem. I changed it to *Matts Test Node* and the dashboard came back.

[2017-08-17 18:12] #373 closed, assigned to nobody

[2017-08-17 18:26] MisterMartin commented on #361
Is this issue completed?

[2017-08-17 18:32] daniels303 commented on #361
Yes!

[2017-08-17 18:32] #361 closed, assigned to nobody

[2017-08-17 18:32] daniels303 commented on #362
Done and live on chordsrt.com

[2017-08-17 18:32] #362 closed, assigned to daniels303

[2017-08-17 18:33] daniels303 opened #374 "Create screenshots for CUAHSI archiving setup"

[2017-08-17 19:33] mdye commented on #370
Fixed

[2017-08-17 19:33] #370 closed, assigned to mdye

[2017-08-17 19:33] mdye commented on #335
done

[2017-08-17 19:33] #335 closed, assigned to nobody

[2017-08-17 19:55] mdye commented on #368
done

[2017-08-17 19:55] #368 closed, assigned to nobody

[2017-08-17 20:07] MisterMartin commented on #180
This is a [good discussion](https://serverfault.com/questions/218750/why-dont-ec2-ubuntu-images-have-swap) about adding swap on AWS. It seems like this is something we might find useful for our larger instances, and it may even allow t2.micro to become performant. The recommendation to use the instance store sounds like a good idea.

[2017-08-17 20:51] mdye commented on #369
done

[2017-08-17 20:51] #369 closed, assigned to nobody

[2017-08-17 20:52] mdye commented on #367
done

[2017-08-17 20:52] #367 closed, assigned to nobody

[2017-08-17 21:39] daniels303 commented on #374
These are done, but I was not able to show screenshots of a fully configured archive as I received an error when I pressed the "Configure Sites" button on the archive page and could go no further. This was from a development version and led to the following error:
<img width="693" alt="error in config sites" src="https://user-images.githubusercontent.com/10983789/29434937-30ddafaa-8362-11e7-85a2-5

[2017-08-17 21:53] mdye commented on #374
Hi Mike,

This should be fixed now - at least as long as your archive configuration is correct.

You'll need to update the docker image by doing the following;:
[code]

[2017-08-18 15:51] MisterMartin opened #375 "Tzvolcano down temporarily"
The disk needs to be resized. We are currently working on it.

[2017-08-18 16:43] dsarahstamps commented on #375
Great news your working it out. If there is too much data you can delete up to July.

[2017-08-18 20:19] mdye commented on #356
Rails console commands to remove CUAHSI configuration:

Profile.update_all(cuahsi_source_id: nil)
Site.update_all(cuahsi_site_id: nil)
Instrument.update_all(cuahsi_method_id: nil)
Vars.update_all(cuahsi_variable_id: nil)

[2017-08-18 20:54] MisterMartin commented on #375
Issue has been resolved and tzvolcano is running again. See the [wiki](../wiki/Docker-Recovery-From-Full-Disk) for a description of the recovery process.

[2017-08-18 20:54] #375 closed, assigned to nobody

[2017-08-25 20:35] mdye opened #376 "Add "total measurement count" to json and csv file download"
This will help Josh and Sarah to track empty data files.

It would also be great to include a flag in the file name to indicate if a file has no_data

[2017-08-28 19:58] #374 closed, assigned to daniels303

[2017-09-08 20:25] mdbartos opened #377 "Ability to add influxdb tags on each URL create action"
Current tag behavior seems to add a fixed tag to each write; however, users may need tags that change over time.

One approach could be to add a signifier character (for instance, a #) in front of variable names that are supposed to indicate a tag within each `url_create` action:

[code]

[2017-09-08 20:31] mdbartos opened #378 "Remote endpoint for storing device configuration/action information"
Some devices (such as the open storm sensor nodes) would benefit from a remote endpoint where device configuration information can be stored and retrieved. Some examples of retrievable data include node identification metadata, sensor sampling frequencies, control action triggers, desired valve positions, etc. This would enable bidirectional communication between the sensor node and the server.

O

[2017-09-15 20:07] MisterMartin commented on #280
Completed in 6aa7c79543bdf45f8da15285b7cb0452f57ef911.

[2017-09-15 20:07] #280 closed, assigned to MisterMartin

[2017-09-18 20:53] MisterMartin opened #379 "Devmode startup fails in archive.rb"
chords_app fails when starting in --devmode. The error is triggered in archive.rb, as
shown in the docker logs:
[code]

[2017-09-19 16:58] MisterMartin opened #380 "Last qualifier doesn't always deliver data"
In many cases, a URL like ```http://localhost/instruments/2.json?last``` does not provide any data.

```Data:``` is empty:
[code]

[2017-09-19 17:04] MisterMartin commented on #380
This was due to time formatting for influxdb queries. It happened for cases where the last datapoint had a timestamp with a non-zero millisecond units value. I.e. ```2017-09-19T17:02:01.79Z``` would work, but ```2017-09-19T17:02:01.793Z``` would fail.

The last qualifier instructed the instrument controller to get the time of the last data point, and then fetch data for that time. But the time for

[2017-09-19 17:04] #380 closed, assigned to MisterMartin

[2017-09-19 17:12] MisterMartin commented on #377
If I'm reading this correctly (i.e. we truly are talking about influxdb 'tags'), this has the potential to seriously increase the cardinality of the influxdb. If new tags are added rarely, it won't be an issue, but if they were added continuously, the increasing cardinality could eventually kill the database performance.

[2017-09-19 17:16] MisterMartin commented on #376
This seems to have been completed; current files do have ```"measurements_in_file":336``` and ```# Measurements in File: 336```

[2017-09-19 17:16] #376 closed, assigned to nobody

[2017-09-19 20:34] MisterMartin opened #381 "New instrument create fails in 0.9.1"
Suspect that it is a migration issue.

[code]

[2017-09-19 20:41] MisterMartin commented on #326
Seems to be working in Firfox 55.0.3, after adding the .html_safe corrections to the generated javascript.

[2017-09-19 20:41] #326 closed, assigned to MisterMartin